@keyframes pop-in {
    0% {
        opacity: 0;
        transform: translateY(-4rem) scale(0.8)
    }
    100% {
        opacity: 1;
        transform: none
    }
}

.animate-pop-in {
    animation: pop-in .6s ease-out forwards
}

.pagehead {
    height: 250px;
    width: 100%;
    background-image: url("bgimg/img1.jpg")
}

#page-title {
    text-align: center;
    color: white;
    padding-top: 5.6rem;
    padding-bottom: 6.5rem;
    background: #00000070
}

#navu {
    max-width: 100% !important;
    overflow-x: hidden !important
}

.scroll {
    background-color: black;
    color: white
}

.scroll .nav-link,
.scroll .navbar-brand {
    color: white
}

nav {
    transition: all 0.4s;
    background-color: transparent
}

nav .nav-link,
nav .navbar-brand {
    color: white
}

nav .nav-item:hover .nav-item:focus .sub-menu,
nav .nav-item:focus-within .sub-menu,
nav .nav-item:hover .sub-menu {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    background-color: #000000b3;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s
}

nav .sub-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    list-style-type: none;
    padding: 0;
    margin: 0;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s
}

nav .sub-menu a {
    color: white;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none
}

.team {
    justify-content: center;
    background: #f5f5f5
}

.team .row {
    justify-content: center
}

.team-member {
    position: relative;
    overflow: hidden
}

.team-member img {
    border-radius: 5px;
    background-size: cover;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 4px 6px 20px 0 rgba(0, 0, 0, 0.589)
}

.team-member .name {
    margin-right: 10%;
    font-size: 22px;
    letter-spacing: -.5px;
    line-height: 21px
}

.team-member .title {
    margin-top: 8px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 22px;
    letter-spacing: -.5px;
    line-height: 21px
}

.team-member::before {
    position: absolute;
    content: '';
    width: 85%;
    border-radius: 5px;
    height: 220%;
    background: rgba(62, 186, 243, 0.7);
    top: -50%;
    left: -100%;
    z-index: 1;
    transform: rotate(20.5deg);
    transform-origin: center top 0;
    transition: 0.5s
}

.team-member:hover::before {
    left: 10%
}

.team .card-text {
    width: 100%;
    padding: 0 20px;
    position: absolute;
    top: -100%;
    color: #ffff;
    left: 0;
    z-index: 2;
    transition: 1.1s
}

.team ul {
    list-style: none;
    position: absolute;
    bottom: 0;
    left: 10px;
    z-index: 9;
    padding-left: 2%
}

.team ul li {
    display: inline-block;
    font-size: 16px;
    margin: 7px;
    color: #fff;
    transition: all .2s ease-in-out;
    transform: translateY(100px)
}

.team ul li a {
    color: white
}

.team ul li:nth-child(2) {
    transition-delay: .2s
}

.team ul li:nth-child(3) {
    transition-delay: .3s
}

.team ul li:nth-child(4) {
    transition-delay: .4s
}

.team .corner-member {
    margin-top: 80px
}

.team .corner-member-right {
    margin-top: 50px
}

.team-member:hover::before {
    left: 0
}

.team-member:hover .team-member-picture {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.589)
}

.team-member:hover .card-text {
    top: 80px
}

.team-member:hover li {
    transform: translateY(0)
}

.submit-btn {
    color: white;
    background: steelblue
}

.submit-btn:hover {
    background: #333333
}

@font-face {
    font-family: Montserrat-Regular;
    src: url("../fonts/montserrat/Montserrat-Regular.ttf")
}

@font-face {
    font-family: Montserrat-Bold;
    src: url("../fonts/montserrat/Montserrat-Bold.ttf")
}

@font-face {
    font-family: Montserrat-ExtraBold;
    src: url("../fonts/montserrat/Montserrat-ExtraBold.ttf")
}

@font-face {
    font-family: Montserrat-Medium;
    src: url("../fonts/montserrat/Montserrat-Medium.ttf")
}

input {
    outline: none;
    border: none
}

textarea {
    outline: none;
    border: none
}

textarea:focus,
input:focus {
    border-color: transparent !important
}

input:focus::-webkit-input-placeholder {
    color: transparent
}

input:focus:-moz-placeholder {
    color: transparent
}

input:focus::-moz-placeholder {
    color: transparent
}

input:focus:-ms-input-placeholder {
    color: transparent
}

textarea:focus::-webkit-input-placeholder {
    color: transparent
}

textarea:focus:-moz-placeholder {
    color: transparent
}

textarea:focus::-moz-placeholder {
    color: transparent
}

textarea:focus:-ms-input-placeholder {
    color: transparent
}

input::-webkit-input-placeholder {
    color: #aaaaaa
}

input:-moz-placeholder {
    color: #aaaaaa
}

input::-moz-placeholder {
    color: #aaaaaa
}

input:-ms-input-placeholder {
    color: #aaaaaa
}

textarea::-webkit-input-placeholder {
    color: #aaaaaa
}

textarea:-moz-placeholder {
    color: #aaaaaa
}

textarea::-moz-placeholder {
    color: #aaaaaa
}

textarea:-ms-input-placeholder {
    color: #aaaaaa
}

button {
    outline: none !important;
    border: none;
    background: transparent
}

button:hover {
    cursor: pointer
}

iframe {
    border: none !important
}

.bg-contact100 {
    background: #ffffff;
    width: 100%
}

.bg-contact100 .container-contact100 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: transparent
}

.bg-contact100 .wrap-contact100 {
    width: 1300px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 55px 100px 50px 14px
}

.bg-contact100 .contact100-pic {
    width: 600px;
    height: 120%
}

.bg-contact100 .contact100-pic img {
    max-width: 110%
}

.bg-contact100 .contact100-form {
    width: 390px
}

.bg-contact100 .contact100-form-title {
    display: block;
    font-family: Montserrat-ExtraBold;
    font-size: 24px;
    color: #333333;
    line-height: 1.2;
    text-align: left;
    padding-bottom: 36px
}

.bg-contact100 input.input100 {
    height: 50px;
    border-radius: 25px;
    width: 100%;
    padding: 0 30px 0 50px
}

.bg-contact100 input.input100[name="email"] {
    padding: 0 30px 0 54px
}

.bg-contact100 textarea.input100 {
    min-height: 150px;
    border-radius: 25px;
    padding: 14px 30px
}

.bg-contact100 .wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px
}

.bg-contact100 .input100 {
    display: block;
    width: 100%;
    background: #e6e6e6;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #666666
}

.bg-contact100 .focus-input100 {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(132, 106, 221, 0.5)
}

.bg-contact100 .input100:focus+.focus-input100 {
    animation: anim-shadow 0.5s ease-in-out forwards
}

@keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 60px 25px;
        opacity: 0
    }
}

.bg-contact100 .symbol-input100 {
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 30px;
    pointer-events: none;
    color: #aaaaaa;
    font-size: 15px;
    transition: all 0.4s
}

.bg-contact100 .input100:focus+.focus-input100+.symbol-input100 {
    color: #846add;
    padding-left: 22px
}

.bg-contact100 .container-contact100-form-btn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px
}

.bg-contact100 .contact100-form-btn {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #5b99ea;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    transition: all 0.4s
}

.bg-contact100 .contact100-form-btn:hover {
    background: #333333
}

@media (max-width: 1200px) {
    .bg-contact100 .contact100-pic {
        width: 33.5%
    }
    .bg-contact100 .contact100-form {
        width: 44%
    }
}

@media (max-width: 992px) {
    .bg-contact100 .wrap-contact100 {
        padding: 110px 80px 157px 90px
    }
    .bg-contact100 .contact100-pic {
        width: 35%
    }
    .bg-contact100 .contact100-form {
        width: 55%
    }
}

@media (max-width: 768px) {
    .bg-contact100 .wrap-contact100 {
        padding: 110px 80px 157px 80px
    }
    .bg-contact100 .contact100-pic {
        display: none
    }
    .bg-contact100 .contact100-form {
        width: 100%
    }
}

@media (max-width: 576px) {
    .bg-contact100 .wrap-contact100 {
        padding: 110px 15px 157px 15px
    }
}

.bg-contact100 .validate-input {
    position: relative
}

.bg-contact100 .alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: white;
    border: 1px solid #c80000;
    border-radius: 13px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    pointer-events: none;
    font-family: Montserrat-Medium;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s
}

.bg-contact100 .alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    transform: translateY(-50%);
    right: 13px
}

.bg-contact100 .alert-validate:hover:before {
    visibility: visible;
    opacity: 1
}

@media (max-width: 992px) {
    .bg-contact100 .alert-validate::before {
        visibility: visible;
        opacity: 1
    }
}

footer {
    background-image: url("images/UIET.jpg");
    background-color: #343a40
}

footer .footer-bottom {
    background-color: #282d33;
    background-image: url("images/UIET.jpg");
    color: grey;
    text-align: center
}

footer .footer-bottom ul.social-network {
    list-style: none;
    display: inline;
    margin: auto
}

footer .footer-bottom ul.social-network li {
    display: inline;
    margin: 0 2px
}

footer .footer-bottom .social-network a.icoFacebook:hover {
    background-color: #3B5998
}

footer .footer-bottom .social-network a.icoYoutube:hover {
    background-color: red
}

footer .footer-bottom .social-network a.icoLinkedin:hover {
    background-color: #007bb7
}

footer .footer-bottom .social-network a.icoInstagram:hover {
    background: #f09433;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888', GradientType=1)
}

footer .footer-bottom .social-network a.icoRss:hover i,
footer .footer-bottom .social-network a.icoFacebook:hover i,
footer .footer-bottom .social-network a.icoVimeo:hover i,
footer .footer-bottom .social-network a.icoLinkedin:hover i {
    color: #282d33
}

footer .footer-bottom .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    text-align: center;
    width: 60px;
    height: 60px;
    font-size: 22px
}

footer .footer-bottom .social-circle li i {
    margin: 0;
    line-height: 60px;
    text-align: center
}

footer .footer-bottom .social-circle li a:hover i,
footer .footer-bottom .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    transition: all 0.2s
}

footer .footer-bottom .social-circle i {
    color: #fff;
    transition: all 0.8s
}

footer .footer-bottom .social-circle a {
    background-color: #282d33
}

@media screen and (max-width: 500px) {
    footer .footer-bottom ul.social-network li {
        display: inline;
        margin: 0 5px
    }
}

@media screen and (max-width: 450px) {
    footer .footer-bottom ul.social-network li {
        display: inline;
        margin: 0 5px
    }
    footer .footer-bottom .social-circle li a {
        display: inline-block;
        position: relative;
        margin: 0 auto 0 auto;
        border-radius: 50%;
        text-align: center;
        width: 40px;
        height: 40px;
        font-size: 16px
    }
    footer .footer-bottom .social-circle li i {
        margin: 0;
        line-height: 40px;
        text-align: center
    }
}

@media screen and (max-width: 350px) {
    footer .footer-bottom ul.social-network li {
        display: inline;
        margin: 0 2px
    }
    footer .footer-bottom .social-circle li a {
        display: inline-block;
        position: relative;
        margin: 0 auto 0 auto;
        border-radius: 50%;
        text-align: center;
        width: 40px;
        height: 40px;
        font-size: 16px
    }
    footer .footer-bottom .social-circle li i {
        margin: 0;
        line-height: 40px;
        text-align: center
    }
}

.img-class-carousel {
    height: 400px
}

body {
    overflow-x: hidden;
    min-height: 100vh
}

.contentDiv {
    position: fixed
}

.separator {
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.mx-10 {
    margin-left: 10rem;
    margin-right: 10rem
}

.my-7 {
    margin-top: 7rem;
    margin-bottom: 7rem
}

.headings {
    text-align: center;
    color: #343a40;
    font-family: 'Cinzel', serif;
    display: inline-block;
    padding-bottom: 5px;
    position: relative
}

.headings:before {
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 4px solid #810000
}

#mainCarousel .carousel-inner {
    background-color: #00000070
}

#mainCarousel .carousel-inner img {
    height: 577px;
    width: 100%
}

#upcoming-events {
    background: #f5f5f5
}

#upcoming-events-carousel {
    height: 300px;
    width: 500px;
    background: #f5f5f5
}

#upcoming-events-carousel-inner img {
    height: 300px;
    width: 500px
}

#upcoming-events .carousel-indicators-numbers li {
    text-indent: 0;
    text-align: center;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 100%;
    line-height: 30px;
    color: #fff;
    background-color: #999;
    transition: all 0.25s ease
}

#upcoming-events .carousel-indicators-numbers li.active,
#upcoming-events .carousel-indicators-numbers li:hover {
    width: 30px;
    height: 30px;
    background-color: #000000
}

.get-involved-card {
    padding: 40px
}

.get-involved-card a {
    color: #343a40
}

.get-involved-card .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s
}

.get-involved-card .card-inner .card-front,
.get-involved-card .card-inner .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden
}

.get-involved-card .card-inner .card-back {
    opacity: 0
}

.get-involved-card .separator {
    min-height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #f5f5f5;
    transition: transform 0.4s
}

.get-involved-card .separator:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
    background-color: #2f92bb;
    color: white
}

.get-involved-card .separator:hover .card-front {
    opacity: 0
}

.get-involved-card .separator:hover .card-back {
    opacity: 1
}

.whatwedo {
    background: #f5f5f5;
    padding: 40px
}

.whatwedo .separator {
    min-height: 270px
}

.whatwedo .whatwedocard {
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    background-color: transparent
}

.whatwedo .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d
}

.whatwedo .card-inner .card-front,
.whatwedo .card-inner .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden
}

.whatwedo .card-inner .card-back {
    transform: rotateY(180deg)
}

.whatwedo .whatwedo-card:hover .card-inner {
    transform: rotateY(180deg)
}

.youtube {
    background-image: url("images/ybg.jpg");
    background-color: black;
    padding: 40px
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    background: #000000
}

.box {
    position: relative;
    width: 300px;
    height: 150px;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite
}

.box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px)
}

.box span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 160px;
    object-fit: cover;
    -webkit-box-reflect: below 8px -webkit-gradient(linear, right top, right bottom, from(transparent), color-stop(40%, transparent), to(rgba(255, 255, 255, 0.1)))
}

@keyframes animate {
    0% {
        transform: perspective(1000px) rotateY(0deg)
    }
    100% {
        transform: perspective(1000px) rotateY(360deg)
    }
}


/*# sourceMappingURL=main.css.map */