$primaryColor: #810000;
$bgColor: #f5f5f5;
$bgColorPrimary: #2a89d0;
$darkColor: #343a40;
$darkColor2: #282d33;

body {
  overflow-x: hidden;
}

#navu {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

.contentDiv {
  position: fixed;
}
.pagehead {
  height: 250px;
  width: 100%;
  background-image: url("bgimg/img1.jpg");
}

#page-title {
  text-align: center;
  color: white;
  padding-top: 20vh;
  padding-bottom: 22vh;
  background: #00000070;
}
@keyframes bouncing {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 0;
  }
}

.arrow {
  animation: bouncing 2s infinite ease-in-out;
  bottom: 0;
  display: block;
  height: 30px;
  left: 8%;

  margin-left: -25px;
  position: absolute;
  width: 30px;
}
//    SPACING CLASSES

.separator {
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

//page header

.pagehead {
  height: 250px;
  width: 100%;
  background-image: url("bgimg/img1.jpg");
}

#page-title {
  text-align: center;
  color: white;

  padding-top: 20vh;
  padding-bottom: 22vh;
  background: #00000070;
}

//      HEADINGS

.headings {
  text-align: center;
  color: $darkColor;

  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}
.headings:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: 0;
  left: 25%;
  border-bottom: 4px solid $primaryColor;
}

//        NAVBAR

.scroll {
  background-color: black;
  color: white;
  .nav-link,
  .navbar-brand {
    color: white;
  }
}

nav {
  transition: all 0.4s;

  background-color: transparent;
  .nav-link,
  .navbar-brand {
    color: white;
  }
}

//                MAIN CAROUSEL

#mainCarousel {
  .carousel-inner {
    background-color: #00000070;

    img {
      height: 577px;
      width: 100%;
    }
  }
}

//          UPCOMING EVENTS

#upcoming-events {
  height: 300px;
  width: 500px;

  #upcoming-carousel-inner {
    img {
      height: 300px;
      width: 500px;
    }
  }
}

.carousel-indicators-numbers {
  li {
    text-indent: 0;
    text-align: center;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 100%;
    line-height: 30px;
    color: #fff;
    background-color: #999;
    transition: all 0.25s ease;
    &.active,
    &:hover {
      width: 30px;
      height: 30px;
      background-color: #000000;
    }
  }
}
//      GET INVOLVED

.get-involved {
  &-card {
    padding: 40px;
  }
  &-card {
    a {
      color: $darkColor;
    }
    .card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.5s;
      .card-front,
      .card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
      .card-back {
        opacity: 0;
        // transition: opacity 0.1s;
      }
    }
    .separator {
      min-height: 230px;
      width: 230px;
      border-radius: 50%;
      background-color: $bgColor;
      transition: transform 0.4s;
    }
    .separator:hover {
      transform: scale(1.05);
      transition: transform 0.2s;
      background-color: $bgColorPrimary;
      color: white;
      .card-front {
        opacity: 0;
      }
      .card-back {
        opacity: 1;
      }
    }
  }
}

//            WHAT WE DO

.whatwedo {
  background: $bgColor;
  padding: 40px;

  .separator {
    min-height: 270px;
  }

  .whatwedocard {
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    background-color: transparent;
  }
  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    .card-front,
    .card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden; /* Safari */
      backface-visibility: hidden;
    }
    .card-back {
      transform: rotateY(180deg);
    }
  }

  .whatwedo-card:hover .card-inner {
    transform: rotateY(180deg);
  }
}

.youtube {
  background-image: url("images/ybg.jpg");
  background-color: black;
  padding: 40px;
}

//          gallery

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  background: #000000;
}

.box {
  position: relative;
  width: 300px;
  height: 150px;
  transform-style: preserve-3d;
  animation: animate 20s linear infinite;

  span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 250px;
      height: 160px;
      object-fit: cover;
      -webkit-box-reflect: below 8px -webkit-gradient(linear, right top, right
            bottom, from(transparent), color-stop(40%, transparent), to(rgba(255, 255, 255, 0.1)));
    }
  }
}

@keyframes animate {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}

//          fOOTER

footer {
  background-image: url("images/UIET.jpg");
  background-color: $darkColor;

  .footer-bottom {
    background-color: $darkColor2;

    background-image: url("images/UIET.jpg");
    color: grey;
    text-align: center;

    ul.social-network {
      list-style: none;
      display: inline;
      margin: auto;

      li {
        display: inline;
        margin: 0 2px;
      }
    }

    /*          footer social icons        */

    .social-network {
      a.icoFacebook:hover {
        background-color: #3b5998;
      }
      a.icoYoutube:hover {
        background-color: red;
      }
      a.icoLinkedin:hover {
        background-color: #007bb7;
      }
      a.icoInstagram:hover {
        background: #f09433;
        background: -moz-linear-gradient(
          45deg,
          #f09433 0%,
          #e6683c 25%,
          #dc2743 50%,
          #cc2366 75%,
          #bc1888 100%
        );
        background: -webkit-linear-gradient(
          45deg,
          #f09433 0%,
          #e6683c 25%,
          #dc2743 50%,
          #cc2366 75%,
          #bc1888 100%
        );
        background: linear-gradient(
          45deg,
          #f09433 0%,
          #e6683c 25%,
          #dc2743 50%,
          #cc2366 75%,
          #bc1888 100%
        );
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
      }
    }

    .social-network a.icoRss:hover i,
    .social-network a.icoFacebook:hover i,
    .social-network a.icoVimeo:hover i,
    .social-network a.icoLinkedin:hover i {
      color: $darkColor2;
    }

    .social-circle li a {
      display: inline-block;
      position: relative;
      margin: 0 auto 0 auto;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      text-align: center;
      width: 60px;
      height: 60px;
      font-size: 22px;
    }

    .social-circle li i {
      margin: 0;
      line-height: 60px;
      text-align: center;
    }

    .social-circle li a:hover i,
    .triggeredHover {
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -ms--transform: rotate(360deg);
      transform: rotate(360deg);
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -o-transition: all 0.2s;
      -ms-transition: all 0.2s;
      transition: all 0.2s;
    }

    .social-circle i {
      color: #fff;
      -webkit-transition: all 0.8s;
      -moz-transition: all 0.8s;
      -o-transition: all 0.8s;
      -ms-transition: all 0.8s;
      transition: all 0.8s;
    }

    .social-circle a {
      background-color: $darkColor2;
    }

    @media screen and (max-width: 500px) {
      ul.social-network li {
        display: inline;
        margin: 0 5px;
      }
    }

    @media screen and (max-width: 450px) {
      ul.social-network li {
        display: inline;
        margin: 0 5px;
      }
      .social-circle li a {
        display: inline-block;
        position: relative;
        margin: 0 auto 0 auto;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        text-align: center;
        width: 40px;
        height: 40px;
        font-size: 16px;
      }
      .social-circle li i {
        margin: 0;
        line-height: 40px;
        text-align: center;
      }
    }

    @media screen and (max-width: 350px) {
      ul.social-network li {
        display: inline;
        margin: 0 2px;
      }
      .social-circle li a {
        display: inline-block;
        position: relative;
        margin: 0 auto 0 auto;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        text-align: center;
        width: 40px;
        height: 40px;
        font-size: 16px;
      }
      .social-circle li i {
        margin: 0;
        line-height: 40px;
        text-align: center;
      }
    }
  }
}

// CONTACT US PAGE

/*# contact us form css*/

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Montserrat-Regular;
  src: url("../fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Montserrat-Bold;
  src: url("../fonts/montserrat/Montserrat-Bold.ttf");
}

@font-face {
  font-family: Montserrat-ExtraBold;
  src: url("../fonts/montserrat/Montserrat-ExtraBold.ttf");
}

@font-face {
  font-family: Montserrat-Medium;
  src: url("../fonts/montserrat/Montserrat-Medium.ttf");
}

/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus:-moz-placeholder {
  color: transparent;
}
textarea:focus::-moz-placeholder {
  color: transparent;
}
textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: #aaaaaa;
}
input:-moz-placeholder {
  color: #aaaaaa;
}
input::-moz-placeholder {
  color: #aaaaaa;
}
input:-ms-input-placeholder {
  color: #aaaaaa;
}

textarea::-webkit-input-placeholder {
  color: #aaaaaa;
}
textarea:-moz-placeholder {
  color: #aaaaaa;
}
textarea::-moz-placeholder {
  color: #aaaaaa;
}
textarea:-ms-input-placeholder {
  color: #aaaaaa;
}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

.bg-contact100 {
  background: #ffffff;
  width: 100%;
}

.container-contact100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: transparent;
}

.wrap-contact100 {
  width: 1300px;

  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 55px 100px 50px 14px;
}

/*------------------------------------------------------------------
[  ]*/
.contact100-pic {
  width: 600px;

  height: 120%;
}

.contact100-pic img {
  max-width: 110%;
}

/*------------------------------------------------------------------
[  ]*/
.contact100-form {
  width: 390px;
}

.contact100-form-title {
  display: block;
  font-family: Montserrat-ExtraBold;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 36px;
}

input.input100 {
  height: 50px;
  border-radius: 25px;
  width: 100%;
  padding: 0 30px 0 50px;
}

input.input100[name="email"] {
  padding: 0 30px 0 54px;
}

textarea.input100 {
  min-height: 150px;
  border-radius: 25px;
  padding: 14px 30px;
}

/*---------------------------------------------*/
.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.input100 {
  display: block;
  width: 100%;
  background: #e6e6e6;
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
}

/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(132, 106, 221, 0.5);
}

.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 60px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 60px 25px;
    opacity: 0;
  }
}

.symbol-input100 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 30px;
  pointer-events: none;
  color: #aaaaaa;
  font-size: 15px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color: #846add;
  padding-left: 22px;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.contact100-form-btn {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #5b99ea;
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-form-btn:hover {
  background: #333333;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 1200px) {
  .contact100-pic {
    width: 33.5%;
  }

  .contact100-form {
    width: 44%;
  }
}

@media (max-width: 992px) {
  .wrap-contact100 {
    padding: 110px 80px 157px 90px;
  }

  .contact100-pic {
    width: 35%;
  }

  .contact100-form {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .wrap-contact100 {
    padding: 110px 80px 157px 80px;
  }

  .contact100-pic {
    display: none;
  }

  .contact100-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-contact100 {
    padding: 110px 15px 157px 15px;
  }
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  font-family: Montserrat-Medium;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}
