</div>
<footer>
  <div class="footer-top font-small stylish-color-dark text-light  pt-4">
    <div class="container text-center text-md-left">
      
      <div class="row">
        <div class="contact-us col-md-4 mx-auto">
          <div class="text-left pl-5 pb-2">
            <h3 class="headings pb-2">Contact Us</h3>
        </div>
          <div class="text-right mb-4">
            <a href="https://www.google.co.in/maps/place/University+Institute+Of+Engineering+and+Technology,+Panjab+University/@30.7487675,76.7545304,17z/data=!3m1!4b1!4m5!3m4!1s0x390ffb15766ff70d:0xf6cfa1be358bbc88!8m2!3d30.7487629!4d76.7567191">
              <div class="py-2" style="display: flex;">
                <i class="fas fa-map-marker-alt fa-flip-horizontal fa-2x my-auto mr-4"></i>
                <div class="my-auto text-left">
                  <h6>Ground Floor, Block 2, Near Library, <br> University Institute of Engineering and <br> Technology,Panjab University</h6>
                </div>
              </div>
            </a>
            <div class="py-2" style="display: flex;">
              <i class="fas fa-phone fa-flip-horizontal fa-2x my-auto mr-3"></i>
              <div class="my-auto text-left">
                <h6>Kapish Mittal: +91 8178361861</h6>
                <h6>Rythm Pathania: +91 8526645000</h6>
                <h6>Tanveer Singh: +91 9465159603</h6>
              </div>
            </div>
            <div style="display: flex;">
              <i class="fas fa-envelope fa-2x mr-3"></i>
              <div class="my-auto">
                <h6>alumniaffairs.uiet@gmail.com</h6>
              </div>
            </div>
          </div>
          
        </div>
        <hr class="clearfix w-100 d-md-none">
  
        <div class="col-md-2 mx-auto text-left"></div>

        <div class="col-md-4 mx-auto">
          <div class="text-left pl-5 pb-2">
            <h3 class="headings pb-2">Locate Us at</h3>
        </div>
          <iframe class="map pt-2" height="65%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3428.9194909558055!2d76.7545304153659!3d30.74876288163159!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ffb15766ff70d%3A0xf6cfa1be358bbc88!2sUniversity%20Institute%20Of%20Engineering%20and%20Technology%2C%20Panjab%20University!5e0!3m2!1sen!2sin!4v1600109078408!5m2!1sen!2sin"></iframe>
        </div>
        
        
        
        
      </div>
      
      </div>
      
    
    </div>
    
<!--      FOOTER BOTTOM    -->

    <div class="footer-bottom py-2 shadow-lg">
      <ul class="social-network social-circle py-3">
        <li>
          <a class="icoInstagram" href="https://instagram.com/star_uiet?igshid=1az9dzyso4gqz"><i class="fab fa-instagram"></i></a>
        </li>
        <li>
          <a class="icoFacebook" href="https://m.facebook.com/staruiet/"><i class="fab fa-facebook"></i></a>
        </li>
        <li>
          <a class="icoLinkedin" href="https://www.linkedin.com/in/uietalumniaffairscell"><i class="fab fa-linkedin"></i></a>
        </li>
        <li>
          <a class="icoYoutube" href="https://www.youtube.com/user/UIETAlumni"><i class="fab fa-youtube"></i></a>
        </li>
      </ul>
      <p class="mx-auto"> © Copyright 2020. All rights reserved by Student Team For Alumni Relations, UIET
        <br>
        Managed by Technical Team, STAR</p>
        <!--      DEVELOPED BY PRERNA MALIK (IT BATCH 2022)     -->
    </div>
  </footer>

  
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="js/app.js"></script>
  
</body>
</html>


   
    
       
        
      
       
      