
<footer>
  <div class="footer-top font-small stylish-color-dark text-light bg-dark pt-4">
    <div class="container text-center text-md-left">
      
      <div class="row">

        <div class="col-md-4 mx-auto">
  
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">UIET Alumni Cell</h5>
          <p>Situated at the heart of chandigarh, in the South Campus of Panjab University blah blah blah blah blah blah blah blah blah.</p>
  
        </div>
        
        <hr class="clearfix w-100 d-md-none">
  
        <div class="col-md-2 mx-auto">
  
       <!-- quick links
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Quick Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>
        -->
        </div>
        
        <div class="col-md-4 mx-auto">
          <div class="mapall"><iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3428.9194909558055!2d76.7545304153659!3d30.74876288163159!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ffb15766ff70d%3A0xf6cfa1be358bbc88!2sUniversity%20Institute%20Of%20Engineering%20and%20Technology%2C%20Panjab%20University!5e0!3m2!1sen!2sin!4v1600109078408!5m2!1sen!2sin"></iframe></div>
        </div>
      </div>
      
      </div>
      <hr>
  
   
    <ul class="list-unstyled list-inline text-center py-3 mb-0">
      <li class="list-inline-item">
        <h5 class="">Join Us </h5>
      </li>
      <li class="list-inline-item">
        <a href="#!" class="btn btn-danger btn-rounded">Subscribe</a>
      </li>
    </ul>
  
    </div>
    
<!--      FOOTER BOTTOM    -->

    <div class="footer-bottom py-2 shadow-lg">
      <ul class="social-network social-circle py-3">
        <li>
          <a class="icoInstagram" href=""><i class="fab fa-instagram"></i></a>
        </li>
        <li>
          <a class="icoFacebook" href=""><i class="fab fa-facebook"></i></a>
        </li>
        <li>
          <a class="icoLinkedin" href=""><i class="fab fa-linkedin"></i></a>
        </li>
        <li>
          <a class="icoYoutube" href=""><i class="fab fa-youtube"></i></a>
        </li>
      </ul>
      <p class="mx-auto"> © Copyright 2020. Created by technical team STAR, UIET</p>
    </div>
  </footer>

  
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="js/app.js"></script>
</body>
</html>


   
    
       
        
      
       
      