<%- include("partials/header"); -%>

<section class="pagehead" background-image: url('bgimg/img1.jpg');>

  <div id="page-title">

  <h1  class="animate-pop-in">ABOUT STAR</h1>

</div>
</section>

<div class="about-us">
  <div class="history mx-5">
    <div class=" py-4">
      <h3 class="headings py-3">HISTORY</h3>
    </div>
    <p class="history-content">
      Ek aawara nadi chalke woh khul ke sansanaati sanan sanannnnnnnnnnn.....
      Aur woh hai jheel sa khaamoshiyon ki ek tarang liye taranggggg
      Rishta yeh kesa jalti rayt paaon ka, 
      Rishta yeh kesa chand din dhoop chaaon kaaaaaa
      Bolooo; OOOOOOOO adhoore tum, adhoore hum bin tumhaare;;
      Adhoore tum, adhoore ham bin tumhaare
      Mutthiyon mein baadalon ko le ke woh nichorr de
      Woh raat ki chupti mein shor natkhat chorr de
      Bebaak hai, bindaas hai
      Usey zindagi ki pyaas hai
      Paas hai, par dooriyaan
      Makhmali majbooriyaan hain
      Adhoore tum, adhoore ham bin tumhaare
    </p>
  
  </div>
  <div class="vision mx-5">
    <div class=" py-4">
      <h3 class="headings py-3">Vision</h3>
    </div>
    <p class="vision-content">
      Ek aawara nadi chalke woh khul ke sansanaati sanan sanannnnnnnnnnn.....
      Aur woh hai jheel sa khaamoshiyon ki ek tarang liye taranggggg
      Rishta yeh kesa jalti rayt paaon ka, 
      Rishta yeh kesa chand din dhoop chaaon kaaaaaa
      Bolooo; OOOOOOOO adhoore tum, adhoore hum bin tumhaare;;
      Adhoore tum, adhoore ham bin tumhaare
      Mutthiyon mein baadalon ko le ke woh nichorr de
      Woh raat ki chupti mein shor natkhat chorr de
      Bebaak hai, bindaas hai
      Usey zindagi ki pyaas hai
      Paas hai, par dooriyaan
      Makhmali majbooriyaan hain
      Adhoore tum, adhoore ham bin tumhaare
    </p>
  
  </div>
</div>


<%- include("partials/footer"); -%>