<%- include("partials/header"); -%>

<section class="pagehead shadow-sm">
  <div class="page-title">
    <h2  class="fast-title animate-pop-in">About STAR</h2>
    <h4 class="slow-title animate-pop-in">We are not just a team, we are a family.</h4> 
  </div>
</section>

<div class="about-us">
  <div class="history mx-5">
    <div class="text-center py-4">
      <h3 class="headings py-2">HISTORY</h3>
    </div>
    <div class="row px-5 py-4">
      <div class="col-md-8 order-md-1 my-auto">
        <p class="lead"> " Entrepreneurship Development Cell(EDC) began with the idea that the conventional model of problem solving in the world was simply not as effective as was thought earlier. The world needed a better model. We needed a better way, not only to restore but also to replenish. A model that is not only sustainable but also pivotal to growth and prosperity. At EDC, we believe that Entrepreneurship is the most vital key towards reaching that better model. All great things take time. Since our establishment, we have pursued towards creating a nurturing environment for budding entrepreneurs and entrepreneurial-minds alike, conducting workshops, events, seminars, boot camps, interactive sessions, pitching sessions and many more such endeavours that have proven to be stepping stones for many individuals and teams alike.benefit from the tremendous potential that UIET has and can further collaborate in creating an industry-academic interface. | extend an invitation to the corporate sector to participate in the Campus Recruitment Program of UIET." - Director
        </p>
      </div>
      <div class="col-md-3 order-md-2">
        <img src="images/savita.jpeg" height = "350" width = "350">  </div>
    </div>
  
  </div>
  <div class="vision mx-5">
    <div class="text-center py-4">
      <h3 class="headings py-3">VISION</h3>
    </div>
    <p class="vision-content">
      Ek aawara nadi chalke woh khul ke sansanaati sanan sanannnnnnnnnnn.....
      Aur woh hai jheel sa khaamoshiyon ki ek tarang liye taranggggg
      Rishta yeh kesa jalti rayt paaon ka, 
      Rishta yeh kesa chand din dhoop chaaon kaaaaaa
      Bolooo; OOOOOOOO adhoore tum, adhoore hum bin tumhaare;;
      Adhoore tum, adhoore ham bin tumhaare
      Mutthiyon mein baadalon ko le ke woh nichorr de
      Woh raat ki chupti mein shor natkhat chorr de
      Bebaak hai, bindaas hai
      Usey zindagi ki pyaas hai
      Paas hai, par dooriyaan
      Makhmali majbooriyaan hain
      Adhoore tum, adhoore ham bin tumhaare
    </p>
  
  </div>
</div>


<%- include("partials/footer"); -%>