<%- include("partials/header"); -%>

<section class="shadow">
  <img class ="pagehead" src="images/headers/About Us.png" alt="">
</section>

<div class="about-us mx-4 mt-4 mb-5">
  <div class="history mx-5">
    <div class="text-center py-3">
      <h3 class="headings py-2">BACKGROUND</h3>
    </div>
    <div class="row px-2 py-4">
      <div class="col-8 order-md-1 my-auto mx-4 text-justify">
        <p class="smalltext-font text-justify">
          Every organisation and group has its own story and vision that propels
          it to move forward. The Alumni Cell of any educational institute has a
          pre-eminent aspect, to bridge in the gap of connection and
          communication between its students and the Alumni.Alumni being the
          ambassadors for the institute in the corporate world, showcase the
          talent and potential of our institute. Once a student becomes alumni,
          we connect them back to their institute.
          <br />
          The team initially formed to accumulate and create a database of
          alumni has not restricted itself to just that, it has diversified its
          work and mode of reach with the alumni. The 'Students Team for Alumni
          Relations' also known as 'STAR', found its envisioning and need as
          early as the foundation of UIET in 2002. It wasn't until March of
          2013, that it was officially founded. Our team, which started with a
          few members, now has 30 active teammates who work under the leadership
          of staff members that strive to give the best to our Alumni.
        </p>
      </div>
      <div class="col-3 order-md-2 mx-2">
        <img src="images/star.jpeg" height="100%" width="100%" />
      </div>
    </div>
  </div>
  <div class="vision mx-5 mb-5 px-5 pb-5">
    <div class="text-center py-4">
      <h3 class="headings py-3">OUR VISION</h3>
    </div>
    <p class="smalltext-font text-justify">
      The vision of the founders of our office was to 'inspire and engage alumni
      in a mutually beneficial life-long relationship for constant growth and
      development of UIET and its alumni network'. Keeping the vision in mind and incorporating it on the
      way, our team is successively moving towards a streamlined and one-stop
      help to our alumni.
      
      The team actively keeps in contact with the
      alumni via its social media handles such as LinkedIn, Facebook, and
      Instagram. Accommodating to the changing times, we actively pursue the
      alumni for live sessions, mentoring, and Virtual Alumni Meets. The YouTube
      page of STAR helps the students to learn and provides the flexibility to
      hear alumni in recorded sessions. Our offline connect is via city-based
      chapters and Alumni meet.
      <div class="text-center pt-3">
        <p class="ending-text pt-4"><i>We are always eager and happy to help, so you can always reach out to us.</i> </p>
      </div>
      
      
    </p>
  </div>
</div>

<%- include("partials/footer"); -%>
