<%- include("partials/header"); -%>

<section class="shadow">
    <img class ="pagehead" src="images/headers/Update.png" alt="">
</section>

<section>
    <div class="content container p-4 my-3 mx-auto">
        <!-- <div class="text-center pb-4">
          <h3 class="headings py-3">Update Your Information</h3>
        </div> -->
        <div class="content-text text-center mx-3">
          <p>
            Reconnect to your roots and grow even beyond, become a part of our family and guide younger one's towards their success!
            while traversing on your own ladder towards your reign! Update your info so we can get connected. 
          </p>
        </div>
    </div>
</section>
<section>
    <form method="POST" target="/register" class="my-5" style="width: 500px; margin: auto;">
        <div class="form-group">
            <label for="name">First Name</label>
            <input required class="form-control" id="name" name="firstname" placeholder="Enter Your Name">
        </div>
        <div class="form-group">
            <label for="lastname">Last Name</label>
            <input required class="form-control" id="name" name="lastname" placeholder="Enter Your Last Name">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input required class="form-control" id="email" type="email" name="email" placeholder="Enter Your Email">
        </div>
        <div class="form-group">
            <label for="Contact">Contact</label>
            <input required class="form-control" id="contact" name="contact" placeholder="Enter Your Contact Number">
        </div>
        <div class="row">
            <div class="form-group col-6">
                <label for="course" class="col-form-label">Course</label>
                <select name="course" class="form-control" id="branch">
                    <option value="BE">BE</option>
                    <option value="ME">ME</option>
                </select>
            </div>
            <div class="form-group col-6">
                <label for="branch" class="col-form-label">Branch</label>
                <select name="branch" id="branch" class="form-control">
                    <option value="EEE">EEE</option>
                    <option value="ECE">ECE</option>
                    <option value="CSE">CSE</option>
                    <option value="IT">IT</option>
                    <option value="MECH">MECH</option>
                    <option value="BIO">BIO</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="city" id="city" class="col-3 col-form-label">Current City</label>
            <div class="col-9 ml-0">
                <input required type="text" name="city" class="form-control" id="city">
            </div>
        </div>
            
        <div class="row">
            <div class="form-group col-6">
                <label for="Organisation" class="col-form-label">Organisation</label>
                <input required class="form-control" name="organisation" id="Organisation">
            </div>
            <div class="form-group col-6">
                <label for="Designation" class="col-form-label">Designation</label>
                <input required class="form-control" id="Designation" name="designation">
            </div>
        </div>
        <label for="higher" class="h6 mb-0">Competetive Exams</label>
        <div id="exams" class="row" >
            <div class="from-group col-6 ">
                <label for="exam" class="col-form-label pt-1">Exams Cleared</label>
                <input required class="form-control" name="exams">
            </div>
    
            <div class="from-group col-6 ">
                <label for="year" class="col-form-label pt-1">year</label>
                <input required class="form-control" name="examyear">
            </div>
        </div>
        <label for="higher" class="h6 mb-0 mt-3">Higher Studies</label>
        <div id="higher" class="row" >
            <div class="from-group col-4 ">
                <label for="course" class="col-form-label pt-1">Course</label>
                <input required class="form-control" id="course" name="highcourse">
            </div>
    
            <div class="from-group col-4 ">
                <label for="institution" class="col-form-label pt-1">Institution</label>
                <input required class="form-control" id="institution" name="institute">
            </div>
    
            <div class="from-group col-4">
                <label for="year" class="col-form-label pt-1">Year</label>
                <input required class="form-control" id="year" name="year">
            </div>
        </div>

        <div class="form-group">
            <label for="linkedin">Your LinkedIn Profile</label>
            <input required class="form-control" id="linkedin" name="linkedin" placeholder="Enter Your profile link">
        </div>

        <div class="form-group pt-4 col-6 mx-auto">
            <input required type="submit" class="form-control submit-btn">
        </div>
    </div>
    
    </form>
</section>
 

<%- include("partials/footer"); -%>