<%- include("partials/header"); -%>

<section class="shadow">
  <img class="pagehead" src="images/headers/AT.png" alt="">
</section>

<!-- introduction -->
<div class="a-meet pb-5">
  <div class="container px-4 py-5 mx-auto">
    <div class="text-center pb-4">
      <h2 class="headings py-3">A-Talks</h2>
    </div>
    <div class="content-text mx-3">
      <p>
        STAR conducted a series of informative webinars that were hosted by some
        of our exceptional and established alumni who have made great strides in
        their professional careers. Through these informative talks, the
        students interested to pursue a specific path got deeper insights from
        an expert in that field. These A-Talks talked about Placement
        Preparation, Resume Building, MBA &PhD from a Foreign University, How to
        crack CAT & UPSC, Why One should Never Settle, and many more such topics
        that helped provide us a wide variety of lessons and a chance for
        participants to network further on.
      </p>
      <p>
        Want to play the role of that 'helpful senior' yet again? We provide you with an opportunity to impart your extensive resource of knowledge to the fresh young minds. <br>
         
    </p>
    <button class="btn red-btn btn-secondary" href="https://docs.google.com/forms/d/e/1FAIpQLSdz3bARL_LtqUVmhizOT9QEceuZ09ZBw_nruq4udlm51kEHnQ/viewform?usp=sf_link">
      Register yourself for an A-Talk
     </button>
    </div>
  </div>
  <div class="pb-3"></div>

  <!-- season info & container-->
  <div class="season-section border shadow-sm rounded-lg mx-5 px-2 py-2 mb-3">
    <div>
      <h2 class="season-no my-2 pl-3">Season-2</h2>
      <hr />
      <!-- start of row -->

      <div class="row mx-5 py-2">
        <div class="col-4 d-flex justify-content-center">
          <div class="card mx-4 shadow">
            <a
              href="https://www.youtube.com/watch?v=CFcexChI6sw&list=PLVPXALZWDGog7MtCH7G-Be7g9lT7aQNx9&index=7"
            >
              <div class="card-img">
                <img
                  class="card-front"
                  src="images/a-talk/Atalk s2 e7.jpg"
                  alt=""
                  height="auto"
                  width="100%"
                />

                <img
                  class="card-back"
                  src="images/a-talk/Speaker s2 e7.jpg"
                  alt=""
                  height="auto"
                />
              </div>
            </a>

            <div class="card-body">
              <h5 class="card-title largetext-font">Episode 7</h5>
              <p class="card-text text-justify pb-5">
                Why study abroad? <br />
                A talk by Alumni, Ms. Anchal Kapoor, currently working as a Software Engineer at Microsoft, US, on why should we study
                abroad.
              </p>
              <a
                href="https://www.youtube.com/watch?v=CFcexChI6sw&list=PLVPXALZWDGog7MtCH7G-Be7g9lT7aQNx9&index=7"
                class="btn red-btn btn-secondary m-3"
                >Watch</a
              >
            </div>
          </div>
        </div>

        <div class="col-4 d-flex justify-content-center">
          <div class="card mx-4 shadow">
            <a
              href="https://www.youtube.com/watch?v=CFcexChI6sw&list=PLVPXALZWDGog7MtCH7G-Be7g9lT7aQNx9&index=6"
            >
              <div class="card-img">
                <img
                  class="card-front"
                  src="images/a-talk/Atalk s2 e6.jpg"
                  alt=""
                  height="auto"
                  width="100%"
                />

                <img
                  class="card-back"
                  src="images/a-talk/Speaker s2 e6.jpg"
                  alt=""
                  height="auto"
                />
              </div>
            </a>
                                <div class="card-body">
                                    <h5 class="card-title largetext-font">Episode 6</h5>
                                    <p class="card-text text-justify pb-5">
                                        A talk by our Alumni, Mr. Abhinav Bhardwaj on innovation in a disruptive Env. and the projects he led in Transportation, Robotics, and Automation domain.
                                    </p>
                                    <a href="https://www.youtube.com/watch?v=CFcexChI6sw&list=PLVPXALZWDGog7MtCH7G-Be7g9lT7aQNx9&index=6" class="btn red-btn btn-secondary m-3">Watch</a
              >
            </div>
          </div>
        </div>

        <div class="col-4 d-flex justify-content-center">
          <div class="card mx-4 shadow">
            <a
              href="https://www.youtube.com/watch?v=CFcexChI6sw&list=PLVPXALZWDGog7MtCH7G-Be7g9lT7aQNx9&index=5"
            >
              <div class="card-img">
                <img
                  class="card-front"
                  src="images/a-talk/Atalk s2 e5.jpg"
                  alt=""
                  height="auto"
                  width="100%"
                />

                <img
                  class="card-back"
                  src="images/a-talk/Speaker s2 e5.jpg"
                  alt=""
                  height="auto"
                />
              </div>
            </a>
                                    <div class="card-body">
                                        <div class="card-title largetext-font">Episode 5</div>
                                        <p class="card-text text-justify pb-5">
                                            Resume Building <br /> A talk by our alumni, Mr. Vaibhav Nanchahal guiding the students about the dos and don'ts while building their resumes.
                                        </p>
                                        <a href="https://www.youtube.com/watch?v=CFcexChI6sw&list=PLVPXALZWDGog7MtCH7G-Be7g9lT7aQNx9&index=5" class="btn red-btn btn-secondary m-3">Watch</a
              >
            </div>
          </div>
        </div>
      </div>
      <!--    SPACING  -->

      <div class="row pb-4"></div>

      <!--          COLLAPSE BUTTON    -->
      <div class="d-flex justify-content-end">
        <button
          class="btn btn-collapse btn-down btn-secondary px-3 mr-3"
          id="more2"
          onclick="showMore(`more2`,`expand-collapse-s2`);"
        >
          <i class="fas fa-angle-double-down fa-1x px-1 py-2"></i>
        </button>
      </div>

      <!--            HIDDEN SECTION                    -->

      <div class="d-none position-relative" id="expand-collapse-s2">
        
       <!--                   ROW 2                           -->
 
       <div class="row mx-5 py-2">
 
        <!--                        CARD 4                      -->
 
        <div class="col-4 d-flex justify-content-center">
            <div class="card mx-4 shadow">
              <a
                href="https://www.youtube.com/watch?v=CFcexChI6sw&list=PLVPXALZWDGog7MtCH7G-Be7g9lT7aQNx9&index=4"
              >
                <div class="card-img">
                  <img
                    class="card-front"
                    src="images/a-talk/Atalk s2 e4.jpg"
                    alt=""
                    height="auto"
                    width="100%"
                  />
  
                  <img
                    class="card-back"
                    src="images/a-talk/Speaker s2 e4.jpg"
                    alt=""
                    height="auto"
                  />
                </div>
              </a>

                                        <div class="card-body">
                                            <h5 class="card-title largetext-font">Episode 4</h5>
                                            <p class="card-text text-justify pb-5">
                                                Placement Preparation <br /> A talk by Alumni, Ms. Suhani Bhasin making it real by guiding the students through every step of their journey of preparing for campus placements.
                                            </p>
                                            <a href="https://www.youtube.com/watch?v=CFcexChI6sw&list=PLVPXALZWDGog7MtCH7G-Be7g9lT7aQNx9&index=4" class="btn red-btn btn-secondary m-3">Watch</a
                >
              </div>
            </div>
          </div>
  <!--                         CARD 5                -->

          <div class="col-4 d-flex justify-content-center">
            <div class="card mx-4 shadow">
              <a
                href="https://www.youtube.com/watch?v=CFcexChI6sw&list=PLVPXALZWDGog7MtCH7G-Be7g9lT7aQNx9&index=3"
              >
                <div class="card-img">
                  <img
                    class="card-front"
                    src="images/a-talk/Atalk s2 e3.jpg"
                    alt=""
                    height="auto"
                    width="100%"
                  />
  
                  <img
                    class="card-back"
                    src="images/a-talk/Speaker s2 e3.jpg"
                    alt=""
                    height="auto"
                  />
                </div>
              </a>
                                            <div class="card-body">
                                                <h5 class="card-title largetext-font">Episode 3</h5>
                                                <p class="card-text text-justify pb-5">
                                                    MBA from a Foreign University <br> A talk by our Alumni, Mr. Pralabh Garg solving the dilemma of foreign studies. This interaction helped the students understand the blend of analytical, marketing, and
                                                    team skills.
                                                </p>
                                                <a href="https://www.youtube.com/watch?v=CFcexChI6sw&list=PLVPXALZWDGog7MtCH7G-Be7g9lT7aQNx9&index=3" class="btn red-btn btn-secondary m-3">Watch</a
                >
              </div>
            </div>
          </div>
  
<!--                            CARD 6                        -->

          <div class="col-4 d-flex justify-content-center">
            <div class="card mx-4 shadow">
              <a
                href="https://www.youtube.com/watch?v=CFcexChI6sw&list=PLVPXALZWDGog7MtCH7G-Be7g9lT7aQNx9&index=2"
              >
                <div class="card-img">
                  <img
                    class="card-front"
                    src="images/a-talk/Atalk s2 e2.jpg"
                    alt=""
                    height="auto"
                    width="100%"
                  />
  
                  <img
                    class="card-back"
                    src="images/a-talk/Speaker s2 e2.jpg"
                    alt=""
                    height="auto"
                  />
                </div>
              </a>
                                                <div class="card-body">
                                                    <div class="card-title largetext-font">Episode 2</div>
                                                    <p class="card-text text-justify pb-5">
                                                        How to Crack UPSC <br /> A talk by IRS Officer Mr. Dilmil Singh Soach, guiding students how to crack UPSC and aspects of Civil Services. He also cleared all the doubts regarding career options.
                                                    </p>
                                                    <a href="https://www.youtube.com/watch?v=CFcexChI6sw&list=PLVPXALZWDGog7MtCH7G-Be7g9lT7aQNx9&index=2" class="btn red-btn btn-secondary m-3">Watch</a
                >
              </div>
            </div>
          </div>
        </div>
        
        <!--        SPACING        -->

        <div class="row pb-4"></div>

        <!-- ROW 3 -->

        <div class="row mx-5 py-2">

          <!--            CARD 7                   -->

          <div class="col-4 d-flex justify-content-center">
            <div class="card mx-4 shadow">
              <a
                href="https://www.youtube.com/watch?v=CFcexChI6sw&list=PLVPXALZWDGog7MtCH7G-Be7g9lT7aQNx9&index=1"
              >
                <div class="card-img">
                  <img
                    class="card-front"
                    src="images/a-talk/Atalk s2 e1.jpg"
                    alt=""
                    height="auto"
                    width="100%"
                  />
  
                  <img
                    class="card-back"
                    src="images/a-talk/Speaker s2 e1.jpg"
                    alt=""
                    height="auto"
                  />
                </div>
              </a>

                                                    <div class="card-body">
                                                        <h5 class="card-title largetext-font">Episode 1</h5>
                                                        <p class="card-text text-justify pb-5">
                                                            Why should One Never Settle? <br /> A talk by Alumni, Mr. Saksham Sarin, sharing his experience through his amazing journey from an average middle-class engineer trying almost every possible
                                                            profession to select the best possible profession for him</p>
                                                        <a href="https://www.youtube.com/watch?v=CFcexChI6sw&list=PLVPXALZWDGog7MtCH7G-Be7g9lT7aQNx9&index=1" class="btn red-btn btn-secondary m-3">Watch</a
                >
              </div>
            </div>
          </div>
          
        </div>

        <!--    SPACING  -->

        <div class="row pb-4"></div>

        <!--    COLLAPSE BUTTON       -->

      <div class="d-flex justify-content-end">
        <button
          class="btn btn-collapse btn-up btn-secondary px-3 mr-3"
          id="less2"
          onclick="closeMore(`more2`,`expand-collapse-s2`);"
        >
          <i class="fas fa-angle-double-up fa-1x py-2 px-1"></i>
        </button>
      </div>
        </div>
      </div>
    </div>


    <div class="pb-3"></div>


  <!-- season 1 container-->

  <div class="season-section border shadow-sm rounded-lg mx-5 px-2 py-2 mb-3">
    <div>
      <h2 class="season-no my-2 pl-3">Season-1</h2>
      <hr />

      <!--  row 1 -->

      <div class="row mx-5 py-2">
        <div class="col-4 d-flex justify-content-center">
          <div class="card mx-4 shadow">
            <a
              href="https://www.youtube.com/watch?v=RZbD8yFJtWM&list=PLVPXALZWDGogZgJte34VC61OIRNBLId6v&index=6"
            >
              <div class="card-img">
                <img
                  class="card-front"
                  src="images/a-talk/Atalk s1 e7.jpg"
                  alt=""
                  height="auto"
                  width="100%"
                />

                
              </div>
            </a>

                                                        <div class="card-body">
                                                            <h5 class="card-title largetext-font">Episode 7</h5>
                                                            <p class="card-text text-justify pb-5">
                                                                How to crack CAT? <br /> Rohit Narula(IIM Bangalore), Shubham Sarwalia(IIM Kozhikode), and Madhuri Goyal(IIM Bangalore) talks about their experience at the one of top B-Schools in the country
                                                                and how can one crack CAT and get into one of them.
                                                            </p>
                                                            <a href="https://www.youtube.com/watch?v=RZbD8yFJtWM&list=PLVPXALZWDGogZgJte34VC61OIRNBLId6v&index=6" class="btn red-btn btn-secondary m-3">Watch</a
              >
            </div>
          </div>
        </div>

        <div class="col-4 d-flex justify-content-center">
          <div class="card mx-4 shadow">
            <a
              href="https://www.youtube.com/watch?v=RZbD8yFJtWM&list=PLVPXALZWDGogZgJte34VC61OIRNBLId6v&index=5"
            >
              <div class="card-img">
                <img
                  class="card-front"
                  src="images/a-talk/Atalk s1 e6.jpg"
                  alt=""
                  height="auto"
                  width="100%"
                />

                
              </div>
            </a>

                                                            <div class="card-body">
                                                                <h5 class="card-title largetext-font">Episode 6</h5>
                                                                <p class="card-text text-justify pb-5">
                                                                    Phd from a Foreign University <br> A talk by our Alumni, Dr. Utkarsh Agrawal, currently working as a Data Scientist at University of St. Andrews. He did his masters from IIIT Allahabad
                                                                    and PhD from University of Nottingham, UK.
                                                                </p>
                                                                <a href="https://www.youtube.com/watch?v=RZbD8yFJtWM&list=PLVPXALZWDGogZgJte34VC61OIRNBLId6v&index=5" class="btn red-btn btn-secondary m-3">Watch</a
              >
            </div>
          </div>
        </div>

        <div class="col-4 d-flex justify-content-center">
          <div class="card mx-4 shadow">
            <!-- <a
              href="https://www.youtube.com/watch?v=RZbD8yFJtWM&list=PLVPXALZWDGogZgJte34VC61OIRNBLId6v&index=5"
            > -->
              <div class="card-img">
                <img
                  class="card-front"
                  src="images/a-talk/Atalk s1 e5.jpg"
                  alt=""
                  height="auto"
                  width="100%"
                />
                </div>
            <!-- </a> -->
                                                                <div class="card-body">
                                                                    <h5 class="card-title largetext-font">Episode 5</h5>
                                                                    <p class="card-text text- pb-5">
                                                                        Prospects of Cloud Computing <br> A talk by our Alumni, Mr. Deepman Singh about what is cloud computing, its trends and how to begin with it, guiding the students on Prospects of
                                                                        Cloud Computing and its increasing demand.
                                                                    </p>
                                                                    <!-- <a
                href="https://www.youtube.com/watch?v=RZbD8yFJtWM&list=PLVPXALZWDGogZgJte34VC61OIRNBLId6v&index=5"
                class="btn red-btn btn-secondary m-3"
                >Watch</a
              > -->
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>
                                                    <!--    SPACING  -->

                                                    <div class="row pb-4"></div>

                                                    <!--          COLLAPSE BUTTON    -->
                                                    <div class="d-flex justify-content-end">
                                                        <button class="btn btn-collapse btn-down btn-secondary px-3 mr-3" id="more1" onclick="showMore(`more1`,`expand-collapse-s1`);">
          <i class="fas fa-angle-double-down fa-1x px-1 py-2"></i>
        </button>
                                                    </div>

                                                    <!--            HIDDEN SECTION                    -->

                                                    <div class="d-none position-relative" id="expand-collapse-s1">

                                                        <!--                   ROW 2                           -->

                                                        <div class="row mx-5 py-2">

                                                            <!--                        CARD 4                      -->

                                                            <div class="col-4 d-flex justify-content-center">
                                                                <div class="card mx-4 shadow">
                                                                    <a href="https://www.youtube.com/watch?v=RZbD8yFJtWM&list=PLVPXALZWDGogZgJte34VC61OIRNBLId6v&index=4">
                                                                        <div class="card-img">
                                                                            <img class="card-front" src="images/a-talk/Atalk s1 e4.jpg" alt="" height="auto" width="100%" />

                                                                        </div>
                                                                    </a>
                                                                    <div class="card-body">
                                                                        <div class="card-title largetext-font">Episode 4</div>
                                                                        <p class="card-text text-justify pb-5">
                                                                            Why should one go for UPSC? <br /> A talk by, IFS Officer Ms. Amrita, presently posted in Burma, on how to crack UPSC and aspects of Civil Services.
                                                                        </p>
                                                                        <a href="https://www.youtube.com/watch?v=RZbD8yFJtWM&list=PLVPXALZWDGogZgJte34VC61OIRNBLId6v&index=4" class="btn red-btn btn-secondary m-3">Watch</a
              >
            </div>
          </div>
        </div>

        <div class="col-4 d-flex justify-content-center">
            <div class="card mx-4 shadow">
              <a
                href="https://www.youtube.com/watch?v=RZbD8yFJtWM&list=PLVPXALZWDGogZgJte34VC61OIRNBLId6v&index=3"
              >
                <div class="card-img">
                  <img
                    class="card-front"
                    src="images/a-talk/Atalk s1 e3.jpg"
                    alt=""
                    height="auto"
                    width="100%"
                  />

                </div>
              </a>

                                                                        <div class="card-body">
                                                                            <h5 class="card-title largetext-font">Episode 3</h5>
                                                                            <p class="card-text text-justify pb-5">
                                                                                Landing a Job at AIRBUS <br /> A talk by Mr. Anand Puntambekar, presently working as an Avionics & Simulation Engineer at Airbus about his life post college and how he made
                                                                                a shift from electrical domain along with his batch mate Lt Anirudh.
                                                                            </p>
                                                                            <a href="https://www.youtube.com/watch?v=RZbD8yFJtWM&list=PLVPXALZWDGogZgJte34VC61OIRNBLId6v&index=3" class="btn red-btn btn-secondary m-3">Watch</a
                >
              </div>
            </div>
          </div>
  <!--                         CARD 5                -->

          <div class="col-4 d-flex justify-content-center">
            <div class="card mx-4 shadow">
              <a
                href="https://www.youtube.com/watch?v=RZbD8yFJtWM&list=PLVPXALZWDGogZgJte34VC61OIRNBLId6v&index=2"
              >
                <div class="card-img">
                  <img
                    class="card-front"
                    src="images/a-talk/Atalk s1 e2.jpg"
                    alt=""
                    height="auto"
                    width="100%"
                  />
  
                  
                </div>
              </a>
                                                                            <div class="card-body">
                                                                                <h5 class="card-title largetext-font">Episode 2</h5>
                                                                                <p class="card-text text-justify pb-5">
                                                                                    Skills in Corporate Sector <br> A talk by our Alumni, Ms. Rochi Khemka and Ms. Nikita talk on how important soft skills are in the corporate sector sharing their experience
                                                                                    from their time in college and some tips to succeed.
                                                                                </p>
                                                                                <a href="https://www.youtube.com/watch?v=RZbD8yFJtWM&list=PLVPXALZWDGogZgJte34VC61OIRNBLId6v&index=2" class="btn red-btn btn-secondary m-3">Watch</a
                >
              </div>
            </div>
          </div>
  
<!--                            CARD 6                        -->

          <div class="col-4 d-flex justify-content-center">
            
          </div>
        </div>
        
        <!--        SPACING        -->

        <div class="row pb-4"></div>

        <!-- ROW 3 -->

        <div class="row mx-5 py-2">

          <!--            CARD 7                   -->

          <div class="col-4 d-flex justify-content-center">
            <div class="card mx-4 shadow">
              <a
                href="https://www.youtube.com/watch?v=RZbD8yFJtWM&list=PLVPXALZWDGogZgJte34VC61OIRNBLId6v&index=1"
              >
                <div class="card-img">
                  <img
                    class="card-front"
                    src="images/a-talk/Atalk s1 e1.jpg"
                    alt=""
                    height="auto"
                    width="100%"
                  />
  
                  
                </div>
              </a>
                                                                                <div class="card-body">
                                                                                    <h5 class="card-title largetext-font">Episode 1</h5>
                                                                                    <p class="card-text text-justify pb-5">
                                                                                        Life Post College <br /> Lt. Anirudh Bhardwaj, Mr Aditya Pratap & Ms. Nitika talks about importance of soft skills, clear thought process and the ability to take failures
                                                                                        in making dreams become reality.
                                                                                    </p>
                                                                                    <a href="https://www.youtube.com/watch?v=RZbD8yFJtWM&list=PLVPXALZWDGogZgJte34VC61OIRNBLId6v&index=1" class="btn red-btn btn-secondary m-3">Watch
                  </a>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </div>

                                                                    <!--    SPACING  -->

                                                                    <div class="row pb-4"></div>

                                                                    <!--    COLLAPSE BUTTON       -->

                                                                    <div class="d-flex justify-content-end">
                                                                        <button class="btn btn-collapse btn-up btn-secondary px-3 mr-3" id="less1" onclick="closeMore(`more1`,`expand-collapse-s1`);">
          <i class="fas fa-angle-double-up fa-1x py-2 px-1"></i>
        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <%- include("partials/footer"); -%>