<%- include("partials/header"); -%>

<section class="pagehead shadow-lg">
  <div class="page-title">
    <div class="pagehead-font animate-pop-in">Alumni Talks</div>
  </div>
</section>
<!-- spacing div below -->
<!-- <div class="pb-5"></div> -->

<!-- introduction -->
<div class="a-meet pb-5">
  <div class="container px-4 py-5 mx-auto">
    <div class="text-center pb-4">
      <h2 class="headings py-3">A-Talks</h2>
    </div>
    <div class="content-text mx-3">
      <p>
        STAR conducted a series of informative webinars that were hosted by some
        of our exceptional and established alumni who have made great strides in
        their professional careers. Through these informative talks, the
        students interested to pursue a specific path got deeper insights from
        an expert in that field. These A-Talks talked about Placement
        Preparation, Resume Building, MBA &PhD from a Foreign University, How to
        crack CAT & UPSC, Why One should Never Settle, and many more such topics
        that helped provide us a wide variety of lessons and a chance for
        participants to network further on.
      </p>
    </div>
  </div>
  <div class="pb-3"></div>

  <!-- season info & container-->
  <div class="season-section border shadow-sm rounded-lg mx-5 px-2 py-2 mb-3">
    <div>
      <h2 class="season-no my-2 pl-3">Season-2</h2>
      <hr />
      <!-- start of row -->

      <div class="row mx-5 py-2">
        <div class="col-md-4 d-flex justify-content-center">
          <div class="card mx-4 shadow">
            <a
              href="https://www.youtube.com/watch?v=CFcexChI6sw&list=PLVPXALZWDGog7MtCH7G-Be7g9lT7aQNx9&index=7"
            >
              <div class="card-img">
                <img
                  class="card-front"
                  src="images/a-talk/Atalk s2 e7.jpg"
                  alt=""
                  height="auto"
                  width="100%"
                />

                <img
                  class="card-back"
                  src="images/a-talk/Speaker s2 e7.jpg"
                  alt=""
                  height="auto"
                />
              </div>
            </a>

            <div class="card-body">
              <h5 class="card-title largetext-font">Episode 7</h5>
              <p class="card-text text-justify pb-5">
                Why study abroad? <br />
                A talk by Alumni, Ms. Anchal Kapoor on why should we study
                abroad
              </p>
              <a
                href="https://www.youtube.com/watch?v=CFcexChI6sw&list=PLVPXALZWDGog7MtCH7G-Be7g9lT7aQNx9&index=7"
                class="btn watch-btn btn-secondary m-3"
                >Watch</a
              >
            </div>
          </div>
        </div>

        <div class="col-md-4 d-flex justify-content-center">
          <div class="card mx-4 shadow">
            <a
              href="https://www.youtube.com/watch?v=CFcexChI6sw&list=PLVPXALZWDGog7MtCH7G-Be7g9lT7aQNx9&index=6"
            >
              <div class="card-img">
                <img
                  class="card-front"
                  src="images/a-talk/Atalk s2 e6.jpg"
                  alt=""
                  height="auto"
                  width="100%"
                />

                <img
                  class="card-back"
                  src="images/a-talk/Speaker s2 e6.jpg"
                  alt=""
                  height="auto"
                />
              </div>
            </a>
            <div class="card-body">
              <h5 class="card-title largetext-font">Episode 6</h5>
              <p class="card-text text-justify">
                A talk by our Alumni, Mr. Abhinav Bhardwaj on innovation in a
                disruptive Env.
              </p>
              <a
                href="https://www.youtube.com/watch?v=CFcexChI6sw&list=PLVPXALZWDGog7MtCH7G-Be7g9lT7aQNx9&index=6"
                class="btn watch-btn btn-secondary mx-3 mb-4 mt-auto"
                >Watch</a
              >
            </div>
          </div>
        </div>

        <div class="col-md-4 d-flex justify-content-center">
          <div class="card mx-4 shadow">
            <a
              href="https://www.youtube.com/watch?v=CFcexChI6sw&list=PLVPXALZWDGog7MtCH7G-Be7g9lT7aQNx9&index=5"
            >
              <div class="card-img">
                <img
                  class="card-front"
                  src="images/a-talk/Atalk s2 e5.jpg"
                  alt=""
                  height="auto"
                  width="100%"
                />

                <img
                  class="card-back"
                  src="images/a-talk/Speaker s2 e5.jpg"
                  alt=""
                  height="auto"
                />
              </div>
            </a>
            <div class="card-body">
              <div class="card-title largetext-font">Episode 5</div>
              <p class="card-text text-justify">
                Resume Building <br />
                A talk by our alumni, Mr. Vaibhav Nanchahal on resume building.
              </p>
              <a
                href="https://www.youtube.com/watch?v=CFcexChI6sw&list=PLVPXALZWDGog7MtCH7G-Be7g9lT7aQNx9&index=5"
                class="btn watch-btn btn-secondary m-3"
                >Watch</a
              >
            </div>
          </div>
        </div>
      </div>
      <!--    SPACING  -->

      <div class="row pb-4"></div>

      <!--          COLLAPSE BUTTON    -->
      <div class="d-flex justify-content-end">
        <button
          class="btn btn-collapse btn-secondary px-3 mr-3"
          id="more"
          onclick="showMore(`more`,`expand-collapse-s1`);"
        >
          <i class="fas fa-angle-double-down fa-1x px-1 py-2"></i>
        </button>
      </div>

      <!--            HIDDEN SECTION                    -->

      <div class="d-none position-relative" id="expand-collapse-s1">
        
       <!--                   ROW 2                           -->
 
       <div class="row mx-5 py-2">
 
        <!--                        CARD 4                      -->
 
        <div class="col-md-4 d-flex justify-content-center">
            <div class="card mx-4 shadow">
              <a
                href="https://www.youtube.com/watch?v=CFcexChI6sw&list=PLVPXALZWDGog7MtCH7G-Be7g9lT7aQNx9&index=4"
              >
                <div class="card-img">
                  <img
                    class="card-front"
                    src="images/a-talk/Atalk s2 e4.jpg"
                    alt=""
                    height="auto"
                    width="100%"
                  />
  
                  <img
                    class="card-back"
                    src="images/a-talk/Speaker s2 e4.jpg"
                    alt=""
                    height="auto"
                  />
                </div>
              </a>
  
              <div class="card-body">
                <h5 class="card-title largetext-font">Episode 4</h5>
                <p class="card-text text-justify pb-5">
                  Placement Preparation <br />
                  A talk by Alumni, Ms. Suhani Bhasin making it real by guiding you through every step of your journey of preparing for campus placements.
                </p>
                <a
                  href="https://www.youtube.com/watch?v=CFcexChI6sw&list=PLVPXALZWDGog7MtCH7G-Be7g9lT7aQNx9&index=4"
                  class="btn watch-btn btn-secondary m-3"
                  >Watch</a
                >
              </div>
            </div>
          </div>
  <!--                         CARD 5                -->

          <div class="col-md-4 d-flex justify-content-center">
            <div class="card mx-4 shadow">
              <a
                href="https://www.youtube.com/watch?v=CFcexChI6sw&list=PLVPXALZWDGog7MtCH7G-Be7g9lT7aQNx9&index=3"
              >
                <div class="card-img">
                  <img
                    class="card-front"
                    src="images/a-talk/Atalk s2 e3.jpg"
                    alt=""
                    height="auto"
                    width="100%"
                  />
  
                  <img
                    class="card-back"
                    src="images/a-talk/Speaker s2 e3.jpg"
                    alt=""
                    height="auto"
                  />
                </div>
              </a>
              <div class="card-body">
                <h5 class="card-title largetext-font">Episode 3</h5>
                <p class="card-text text-justify">
                  MBA from a Foreign University <br>
                  A talk by our Alumni, Mr. Pralabh Garg solving the dilemma of foreign studies.
                </p>
                <a
                  href="https://www.youtube.com/watch?v=CFcexChI6sw&list=PLVPXALZWDGog7MtCH7G-Be7g9lT7aQNx9&index=3"
                  class="btn watch-btn btn-secondary mx-3 mb-4 mt-auto"
                  >Watch</a
                >
              </div>
            </div>
          </div>
  
<!--                            CARD 6                        -->

          <div class="col-md-4 d-flex justify-content-center">
            <div class="card mx-4 shadow">
              <a
                href="https://www.youtube.com/watch?v=CFcexChI6sw&list=PLVPXALZWDGog7MtCH7G-Be7g9lT7aQNx9&index=2"
              >
                <div class="card-img">
                  <img
                    class="card-front"
                    src="images/a-talk/Atalk s2 e2.jpg"
                    alt=""
                    height="auto"
                    width="100%"
                  />
  
                  <img
                    class="card-back"
                    src="images/a-talk/Speaker s2 e2.jpg"
                    alt=""
                    height="auto"
                  />
                </div>
              </a>
              <div class="card-body">
                <div class="card-title largetext-font">Episode 2</div>
                <p class="card-text text-justify">
                  How to Crack UPSC <br />
                  A talk by IRS Officer Mr. Dilmil Singh Soach, guiding students on how to crack UPSC and aspects of Civil Services. 
                </p>
                <a
                  href="https://www.youtube.com/watch?v=CFcexChI6sw&list=PLVPXALZWDGog7MtCH7G-Be7g9lT7aQNx9&index=2"
                  class="btn watch-btn btn-secondary m-3"
                  >Watch</a
                >
              </div>
            </div>
          </div>
        </div>
        
        <!--        SPACING        -->

        <div class="row pb-4"></div>

        <!-- ROW 3 -->

        <div class="row mx-5 py-2">

          <!--            CARD 7                   -->

          <div class="col-md-4 d-flex justify-content-center">
            <div class="card mx-4 shadow">
              <a
                href="https://www.youtube.com/watch?v=CFcexChI6sw&list=PLVPXALZWDGog7MtCH7G-Be7g9lT7aQNx9&index=1"
              >
                <div class="card-img">
                  <img
                    class="card-front"
                    src="images/a-talk/Atalk s2 e1.jpg"
                    alt=""
                    height="auto"
                    width="100%"
                  />
  
                  <img
                    class="card-back"
                    src="images/a-talk/Speaker s2 e1.jpg"
                    alt=""
                    height="auto"
                  />
                </div>
              </a>
  
              <div class="card-body">
                <h5 class="card-title largetext-font">Episode 1</h5>
                <p class="card-text text-justify pb-5">
                  Why should One Never Settle? <br />
                  A talk by Alumni, Mr. Saksham Sarin, on how he tried almost every possible profession to select the best possible profession for him.
                </p>
                <a
                  href="https://www.youtube.com/watch?v=CFcexChI6sw&list=PLVPXALZWDGog7MtCH7G-Be7g9lT7aQNx9&index=1"
                  class="btn watch-btn btn-secondary m-3"
                  >Watch</a
                >
              </div>
            </div>
          </div>
          
        </div>

        <!--    SPACING  -->

        <div class="row pb-4"></div>

        <!--    COLLAPSE BUTTON       -->

      <div class="d-flex justify-content-end">
        <button
          class="btn btn-collapse btn-secondary px-3 mr-3"
          id="less"
          onclick="closeMore(`more`,`expand-collapse-s1`);"
        >
          <i class="fas fa-angle-double-up fa-1x py-2 px-1"></i>
        </button>
      </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer"); -%>
