<%- include("partials/headerp"); -%>
<section class="pagehead" background-image: url('bgimg/img1.jpg');>

    <div>
  
    <h1 id="page-title"> CONTACT US</h1>
  
  </div>
  </section>








<%- include("partials/footer"); -%>