<%- include("partials/headerp"); -%>
    <style>
        .card-title {
            color: #810000;
        }
    </style>
    <section class="pagehead" background-image: url( 'bgimg/img1.jpg');>
        <div class="page-title">
            <h1 class="animate-pop-in">Join Us</h1>
        </div>
    </section>
    <div class="join-us container p-4 my-3 mx-auto">
        <div class="text-center pb-4">
            <h3 class="headings py-3">Join Us</h3>
        </div>
        <div class="content-text mx-3">
            <p>
                To join us please fill he forms given below.
            </p>
        </div>
    </div>

















    <%- include("partials/footer"); -%>