<%- include("partials/header"); -%>
<section class="pagehead shadow-sm">
  <div class="page-title">
    <h2 class="animate-pop-in">Student Mentorship Program</h2>
    <h4 class="slow-title animate-pop-in">Coming Soon!</h4>
  </div>
</section>

<div class="mentorship px-5 py-3 my-4 mx-4">
  <div class="content-text text-justify">
    <p>
      <strong>Student Mentorship Programme</strong> is a novel initiative
      undertaken by STAR, UIET, with the aim to enable positive and constructive
      interaction through the guidance provided by our Alumni to the Students.
      Here, the much more experienced alumni facilitate the guidance and support
      for the development of the students with their experience. This
      mentor-mentee relationship provides developmental opportunities for both
      the parties involved.
    </p>
  </div>
  <div class="text-center py-4">
    <h3 class="headings py-3">Framework of Student Mentorship Program</h3>
  </div>
  <div class="content-text text-justify">
    <p>
      In the Student Mentorship Program, Alumni from across the globe would come
      forward to help the students who seek to follow a similar path as them.
      This program is conducted at all levels of years and for various
      departments.
      <br />
      The mentors would guide the students regarding their modes to study, exam
      preparation, the application process, job opportunities, their area of
      interest, and many more as such. Herein the mentors would contribute to
      the program by imparting their knowledge and experience in that particular
      area of interest to the student. This would allow the mentees to enhance
      and broaden their knowledge of a subject and would create a dynamic and
      creative learning experience.

      <br /><br />
    </p>
    <div class="text-center py-4">
      <h3 class="headings py-3">Connecting with our Alumni</h3>
    </div>
    <p class="content-text text-justify">
      <b>The Student Alumni Mentorship Programme</b> is also an active step to
      keep the alumni in touch with all the happenings at IIT Kharagpur. The
      Institute has undergone many changes from time to time- While some are
      quite evident like the construction and commencement of classes at the new
      Nalanda Complex, others are a bit subtle like the formation of interesting
      new societies, changes in the General Championship standings and other
      transitions that the Institute is undergoing. With an all year round
      interaction with the students, the Students' Alumni Mentorship Programme
      ensures that the Alumni be in the know of the events as they occur and
      helps them relive their own KGP days.
    </p>
  </div>
</div>

<%- include("partials/footer"); -%>
