<%- include("partials/header"); -%>
<section class="shadow">
  <img class ="pagehead" src="images/headers/SMP.png" alt="" />
</section>

<div class="mentorship px-5 py-3 my-4 mx-5">
  <div class="smalltext-font text-justify">
    <p>
      <strong>Student Mentorship Programme</strong> is a novel initiative
      undertaken by STAR, UIET, with the aim to enable positive and constructive
      interaction through the guidance provided by our Alumni to the Students.
      Here, the much more experienced alumni facilitate the guidance and support
      for the development of the students with their experience. This
      mentor-mentee relationship provides developmental opportunities for both
      the parties involved.
    </p>
  </div>
  <div class="text-center py-4">
    <h3 class="headings py-3">Framework of SMP</h3>
  </div>
  <div class="smalltext-font text-justify">
    <p>
      In the Student Mentorship Program, Alumni from across the globe would come
      forward to help the students who seek to follow a similar path as them.
      This program is conducted at all levels of years and for various
      departments. The mentors would guide the students regarding their modes to
      study, exam preparation, the application process, job opportunities, their
      area of interest, and many more as such. Herein the mentors would
      contribute to the program by imparting their knowledge and experience in
      that particular area of interest to the student. This would allow the
      mentees to enhance and broaden their knowledge of a subject and would
      create a dynamic and creative learning experience.
    </p>
  </div>
  <div class="mb-4">
    <div class="text-center py-4">
      <h3 class="headings py-3">Why SMP?</h3>
    </div>
    <p class="smalltext-font text-justify">
      It will provide a reliable and comprehensive support system, to motivate
      students to excel in both academic and non-academic fields and to make the
      most of their life at the college. The objectives of the SMP include:
    </p>
    <div>
      <div class="list-points">
        <i class="fas fa-angle-double-right fa-2x pl-4 pr-2"></i>
        <p class="smalltext-font pl-2 pr-5">
          To help the first/second-year students understand the challenges and
          opportunities present in the college and develop a smooth transition
          to campus life.
        </p>
      </div>
      <div class="list-points">
        <i class="fas fa-angle-double-right fa-2x pl-4 pr-2"></i>
        <p class="smalltext-font pl-2 pr-5">
          To counsel academically weak undergraduate students and to play an
          important role in helping troubled students to cope with academic and
          extra-academic problems.
        </p>
      </div>

      <div class="list-points">
        <i class="fas fa-angle-double-right fa-2x pl-4 pr-2 mt-0"></i>
        <p class="smalltext-font pl-2 pr-5">
          To proactively try to identify problems of the general student
          populace and to bring them to the notice of the concerned authorities
        </p>
      </div>
      <div class="list-points">
        <i class="fas fa-angle-double-right fa-2x pl-4 pr-2"></i>
        <p class="smalltext-font pl-2 pr-5">
          To provide positive role models to undergraduate students in the
          college.
        </p>
      </div>
    </div>
  </div>
  <div class="join-smp my-4">
    
    <div class="card shadow mx-5">
      <div class="card-header largetext-font text-center">
        Join The Programme
      </div>
      <div class="card-body">
        <div class="row justify-content-center">
          <div class="col-5">
            <div class="card shadow-sm join-smp-card">
              <div class="card-body ">
                <h5 class="card-title">As Mentor</h5>
                <p class="card-text">With an experience so pronounced, we welcome our alumni to help impart a fragment of their knowledge in order to help the students. By providing correct guidance to the students in the area of preference, the alumni would act as a fairy godmother to help the young minds of UIET to a successful path.</p>
                <a href="https://forms.gle/Xvz8GkGZMm9rXFDq9" class="btn red-btn btn-secondary">Register here!</a>
              </div>
            </div>
          </div>
          <div class="col-5">
            <div class="card shadow-sm join-smp-card">
              <div class="card-body">
                <h5 class="card-title">As Mentee</h5>
                <p class="card-text mb-4 pb-3">Have a dream and don't know how to follow it? <br>
                   STAR, here provides you with an opportunity to explore the path to your success through personalised guidance by our very experienced Alumni. Register yourself to get the best guidance from our super-seniors.</p>
                <a href="https://forms.gle/LhuQEnsp51UvVYft9" class="btn red-btn btn-secondary">Register here!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer"); -%>
