<%- include("partials/header"); -%>

<section class="pagehead shadow-sm">
    <div class="page-title">
      <h2  class="animate-pop-in">Meet Our Team</h2>
     
    </div>
  </section>

<div class="team py-1">
    <div class="team-members mx-10 my-5 py-3">

                <div class="row">
                    <div class="col-md-4">
                        
                        <a href="#">
                            <div class="team-member corner-member-right">
                                <img class="team-member-picture" src="/images/rythm.jpg" height="300" width="250" alt="">
                                <div class="card-text">
                                    <h3 class="name">Rythm </h3>
                                    <h5>Vice-President</h5>
                                </div>
                                <ul class="cards__list">
                                    <li><a href=""><i class="fab fa-facebook-f"></i></a></i></li>
                                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                                    <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </a>
                        
                    </div>
                    <div class="col-md-4">
                        
                        <a href="#">
                            <div class="team-member">
                                <img class="team-member-picture" src="/images/kapish.jpg" height="300" width="250" alt="">
                                <div class="card-text">
                                    <h3 class="name">Kapish Mittal</h3>
                                    <h5>President</h5>
                                </div>
                                <ul class="cards__list">
                                    <li><a href=""><i class="fab fa-facebook-f"></i></a></i></li>
                                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                                    <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </a>
                            
                    </div>
                    <div class="col-md-4">
                        
                        <a href="#">
                            <div class="team-member  corner-member-right">
                                <img class="team-member-picture" src="/images/tanveer.jpg" height="300" width="250" alt="">
                                <div class="card-text">
                                    <h3 class="name">Tanveer Singh</h3>
                                    <h5>Vice-President</h5>
                                </div>
                                <ul class="cards__list">
                                    <li><a href=""><i class="fab fa-facebook-f"></i></a></i></li>
                                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                                    <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </a>
                        
                    </div>
                    
                </div>
            <!-- </div>
        </div> -->

        <!--             EVENT MANAGEMENT            -->
        
        <div class="text-center py-5">
            <h3 class="headings py-3">EVENT MANAGEMENT</h3>
          </div>
          <div class="row">
            <div class="col-md-4">
                <a href="#">
                    <div class="team-member">
                        <img class="team-member-picture" src="/images/divij.jpg" height="300" width="250" alt="">
                        <div class="card-text">
                            <h3 class="name">Divij Bhola</h3>
                            <h5>HEAD</h5>
                        </div>
                        <ul class="cards__list">
                            <li><a href=""><i class="fab fa-facebook-f"></i></a></i></li>
                            <li><a href=""><i class="fab fa-instagram"></i></a></li>
                            <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </a>
                
            </div>
            <div class="col-md-4">
                <a href="#">
                    <div class="team-member">
                        <img class="team-member-picture" src="/images/rajaryan.jpg" height="300" width="250" alt="">
                        <div class="card-text">
                            <h3 class="name">Raj Aryan</h3>
                            <h5>SUB-HEAD</h5>
                        </div>
                        <ul class="cards__list">
                            <li><a href=""><i class="fab fa-facebook-f"></i></a></i></li>
                            <li><a href=""><i class="fab fa-instagram"></i></a></li>
                            <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </a>
                
            </div>
        </div>

        <!--             DATABASE MANAGEMENT           -->
        
        <div class="text-center py-5">
            <h3 class="headings py-3">DATABASE MANAGEMENT</h3>
          </div>
          <div class="row">
            <div class="col-md-4">
                <a href="#">
                    <div class="team-member">
                        <img class="team-member-picture" src="/images/nalin.jpg" height="300" width="250" alt="">
                        <div class="card-text">
                            <h3 class="name">Nalin Singhal</h3>
                            <h5>Head<br> Branch Coordinator</h5>
                        </div>
                        <ul class="cards__list">
                            <li><a href=""><i class="fab fa-facebook-f"></i></a></i></li>
                            <li><a href=""><i class="fab fa-instagram"></i></a></li>
                            <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </a>
                
            </div>
            <div class="col-md-4">
                
                <a href="#">
                    <div class="team-member">
                        <img class="team-member-picture" src="/images/chiraag.jpg" height="300" width="250" alt="">
                        <div class="card-text">
                            <h3 class="name">Chiraag Garg</h3>
                            <h5>Sub-Head</h5>
                        </div>
                        <ul class="cards__list">
                            <li><a href=""><i class="fab fa-facebook-f"></i></a></i></li>
                            <li><a href=""><i class="fab fa-instagram"></i></a></li>
                            <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </a>
                
                
            </div>
            <div class="col-md-4">
                
                <a href="https://www.linkedin.com/in/prerna-malik-1a998b188/">
                    <div class="team-member">
                        <img class="team-member-picture" src="/images/prerna.jpg" height="300" width="250" alt="">
                        <div class="card-text">
                            <h3 class="name">Prerna Malik</h3>
                            <h5>Member</h5>
                        </div>
                        <ul class="cards__list">
                            <li><a href=""><i class="fab fa-facebook-f"></i></a></i></li>
                            <li><a href=""><i class="fab fa-instagram"></i></a></li>
                            <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </a>
                
                
            </div>
        </div>
  <!--             GRAPHICS AND TECHNICAL         -->
        
  <div class="text-center py-5">
    <h3 class="headings py-3">GRAPHICS AND TECHNICAL</h3>
  </div>
  <div class="row">
    <div class="col-md-4">
        <a href="#">
            <div class="team-member">
                <img class="team-member-picture" src="/images/harshit.jpg" height="300" width="250" alt="">
                <div class="card-text">
                    <h3 class="name">Harshit Sharma</h3>
                    <h5>Head</h5>
                </div>
                <ul class="cards__list">
                    <li><a href=""><i class="fab fa-facebook-f"></i></a></i></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
            
        </a>
        
    </div>
    <div class="col-md-4">
        
        <a href="#">
            <div class="team-member">
                <img class="team-member-picture" src="/images/hitesh.jpg" height="300" width="250" alt="">
                <div class="card-text">
                    <h3 class="name">Hitesh Chawla</h3>
                    <h5>Sub-Head</h5>
                </div>
                <ul class="cards__list">
                    <li><a href=""><i class="fab fa-facebook-f"></i></a></i></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </a>
        
    </div>
</div>

<div class="row mt-5">
    
    <div class="col-md-4">
        
        <a href="https://www.linkedin.com/in/prerna-malik-1a998b188/">
            <div class="team-member">
                <img class="team-member-picture" src="/images/navudhay.jpg" height="300" width="250" alt="">
                <div class="card-text">
                    <h3 class="name">Navudhay</h3>
                    <h5>Member</h5>
                </div>
                <ul class="cards__list">
                    <li><a href=""><i class="fab fa-facebook-f"></i></a></i></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </a>
        
        
    </div>
    <div class="col-md-4">
        
        <a href="https://www.linkedin.com/in/prerna-malik-1a998b188/">
            <div class="team-member">
                <img class="team-member-picture" src="/images/gaurav.jpeg" height="300" width="250" alt="">
                <div class="card-text">
                    <h3 class="name">Gaurav Rajput</h3>
                    <h5>MEMBER</h5>
                </div>
                <ul class="cards__list">
                    <li><a href=""><i class="fab fa-facebook-f"></i></a></i></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </a>
        
    </div>
    <div class="col-md-4">
        
        <a href="#">
            <div class="team-member">
                <img class="team-member-picture" src="/images/sanya.jpg" height="300" width="250" alt="">
                <div class="card-text">
                    <h3 class="name">Sanya Aggrawal</h3>
                    <h5>Member</h5>
                </div>
                <ul class="cards__list">
                    <li><a href=""><i class="fab fa-facebook-f"></i></a></i></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </a>
        
        
    </div>
</div>

        
        <!--             CONTENT WRITING            -->
        
        <div class="text-center py-5">
            <h3 class="headings py-3">CONTENT WRITING</h3>
          </div>
          <div class="row">
            <div class="col-md-4">
                <a href="#">
                    <div class="team-member">
                        <img class="team-member-picture" src="/images/ishika.jpg" height="300" width="250" alt="">
                        <div class="card-text">
                            <h3 class="name">Ishika Gupta</h3>
                            <h5>Head</h5>
                        </div>
                        <ul>
                            <li><a href=""><i class="fab fa-facebook-f"></i></a></i></li>
                            <li><a href=""><i class="fab fa-instagram"></i></a></li>
                            <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </a>
                
            </div>
            <div class="col-md-4">
                <a href="#">
                    <div class="team-member">
                        <img class="team-member-picture" src="/images/aastha.jpg" height="300" width="250" alt="">
                        <div class="card-text">
                            <h3 class="name">Aastha Vashishtha</h3>
                            <h5>Sub-Head</h5>
                        </div>
                        <ul>
                            <li><a href=""><i class="fab fa-facebook-f"></i></a></i></li>
                            <li><a href=""><i class="fab fa-instagram"></i></a></li>
                            <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </a>
                
            </div>
        </div>

      
        <!--             PUBLIC RELATIONS AND MARKETING            -->
        
        <div class="text-center py-5">
            <h3 class="headings py-3">PUBLIC RELATIONS AND MARKETING </h3>
          </div>
          <div class="row">
            <div class="col-md-4">
                <a href="#">
                    <div class="team-member">
                        <img class="team-member-picture" src="/images/sourav.jpeg" height="300" width="250" alt="">
                        <div class="card-text">
                            <h3 class="name">Sourav Sharma</h3>
                            <h5>HEAD</h5>
                        </div>
                        <ul class="cards__list">
                            <li><a href=""><i class="fab fa-facebook-f"></i></a></i></li>
                            <li><a href=""><i class="fab fa-instagram"></i></a></li>
                            <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </a>
                
            </div>
            <div class="col-md-4">
                <a href="#">
                    <div class="team-member">
                        <img class="team-member-picture" src="/images/siddharth.jpg" height="300" width="250" alt="">
                        <div class="card-text">
                            <h3 class="name">Siddarth</h3>
                            <h5>SUB-HEAD</h5>
                        </div>
                        <ul class="cards__list">
                            <li><a href=""><i class="fab fa-facebook-f"></i></a></i></li>
                            <li><a href=""><i class="fab fa-instagram"></i></a></li>
                            <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </a>
                
            </div>
        </div>

        
    </div>
</div>

<%- include("partials/footer"); -%>
