<%- include("partials/headerp"); -%>

<div class="team py-5">
    <div class="team-members mx-10 my-7 py-3">
        <!-- <div class="row">
            <div class="col-md-12"> -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-member ">
                            <a href="#">
                                <img class="team-member-picture" src="/images/tanveer.jpg" height="300" width="250" alt="">
                                <div class="card-text">
                                    <h3 class="name">Tanveer Singh</h3>
                                    <h5>Branch Coordinator</h5>
                                </div>
                              </a>
                        </div>
                        
                    </div>
                    <div class="col-md-4">
                        <div class="team-member corner-member">
                            <a href="#">
                                <img class="team-member-picture" src="/images/kapish.jpg" height="300" width="250" alt="">
                                <div class="card-text">
                                    <h3 class="name">Kapish Mittal</h3>
                                    <h5>President</h5>
                                </div>
                              </a>
                        </div>
                        
                    </div>
                    <div class="col-md-4">
                        <div class="team-member corner-member-right">
                            <a href="#">
                                <img class="team-member-picture" src="/images/rythm.jpg" height="300" width="250" alt="">
                                <div class="card-text">
                                    <h3 class="name">Rythm </h3>
                                    <h5>Vice-President</h5>
                                </div>
                              </a>
                        </div>
                    </div>
                </div>
            <!-- </div>
        </div> -->
        
        
        
    </div>
</div>

<%- include("partials/footer"); -%>
<!-- <div class="team-members my-3">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4 team-member corner-member">
                    <div class="cards">
                        <img src="/images/nalin.jpg" height="400" width="300" class="img-responsive" alt="Cards Image">
                        <span class="cards__rect"></span>
                        <span class="cards__tri"></span>
                        <p>Nalin Singhal</p>
                        <ul class="cards__list">
                          <li><i class="fab fa-facebook-f"></i></li>
                          <li><i class="fab fa-twitter"></i></li>
                          <li><i class="fab fa-instagram"></i></li>
                          <li><i class="fab fa-linkedin-in"></i></li>
                        </ul>
                      </div>
                    
                </div>
                </div>
                <div class="col-md-4 team-member mid-picture">
                    <div class="cards">
                        <img src="/images/nalin.jpg" height="400" width="300" class="img-responsive" alt="Cards Image">
                        <span class="cards__rect"></span>
                        <span class="cards__tri"></span>
                        <p>Nalin Singhal</p>
                        <ul class="cards__list">
                          <li><i class="fab fa-facebook-f"></i></li>
                          <li><i class="fab fa-twitter"></i></li>
                          <li><i class="fab fa-instagram"></i></li>
                          <li><i class="fab fa-linkedin-in"></i></li>
                        </ul>
                      </div>
                    
                </div>
                </div>
                <div class="col-md-4 team-member corner-member">
                    <div class="cards">
                        <img src="/images/nalin.jpg" height="400" width="300" class="img-responsive" alt="Cards Image">
                        <span class="cards__rect"></span>
                        <span class="cards__tri"></span>
                        <p>Nalin Singhal</p>
                        <ul class="cards__list">
                          <li><i class="fab fa-facebook-f"></i></li>
                          <li><i class="fab fa-twitter"></i></li>
                          <li><i class="fab fa-instagram"></i></li>
                          <li><i class="fab fa-linkedin-in"></i></li>
                        </ul>
                      </div>
                    
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
<div class="my-5">
<div class="text-center py-3">
    <h2 class="headings py-3"></h2>
</div>
<div class="team-members my-3">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4 team-member">
                    <div class="cards">
                        <img src="/images/nalin.jpg" height="400" width="300" class="img-responsive" alt="Cards Image">
                        <span class="cards__rect"></span>
                        <span class="cards__tri"></span>
                        <p>Nalin Singhal</p>
                        <ul class="cards__list">
                          <li><i class="fab fa-facebook-f"></i></li>
                          <li><i class="fab fa-twitter"></i></li>
                          <li><i class="fab fa-instagram"></i></li>
                          <li><i class="fab fa-linkedin-in"></i></li>
                        </ul>
                      </div>
                    
                </div>
                <div class="col-md-4 team-member mid-picture">
                    <div class="cards">
                        <img src="/images/nalin.jpg" height="400" width="300" class="img-responsive" alt="Cards Image">
                        <span class="cards__rect"></span>
                        <span class="cards__tri"></span>
                        <p>Nalin Singhal</p>
                        <ul class="cards__list">
                          <li><i class="fab fa-facebook-f"></i></li>
                          <li><i class="fab fa-twitter"></i></li>
                          <li><i class="fab fa-instagram"></i></li>
                          <li><i class="fab fa-linkedin-in"></i></li>
                        </ul>
                      </div>
                    
                </div>
                </div>
                <div class="col-md-4 team-member">
                    <div class="cards">
                        <img src="/images/nalin.jpg" height="400" width="300" class="img-responsive" alt="Cards Image">
                        <span class="cards__rect"></span>
                        <span class="cards__tri"></span>
                        <p>Nalin Singhal</p>
                        <ul class="cards__list">
                          <li><i class="fab fa-facebook-f"></i></li>
                          <li><i class="fab fa-twitter"></i></li>
                          <li><i class="fab fa-instagram"></i></li>
                          <li><i class="fab fa-linkedin-in"></i></li>
                        </ul>
                      </div>
                    
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
<div class="mx-10 my-5">
<div class="text-center py-3">
    <h2 class="headings py-3"></h2>
</div>
<div class="team-members my-3">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4 team-member">
                    <img src="/images/img1.jpg" height="300" width="250" alt="">
                    
                </div>
                <div class="col-md-4 team-member mid-picture">
                    <img src="/images/img1.jpg" height="300" width="250" alt="">
                    <h3 class="name text-center">Kapish Mittal</h3>
                    <h4 class="title text-center">PRESIDENT</h4>
                </div>
                <div class="col-md-4 team-member">
                    <img src="/images/img1.jpg" height="300" width="250" alt="">
                </div>
            </div>
        </div>
    </div>
</div> -->