<%- include("partials/header"); -%>

<section class="shadow">
    <img class="pagehead" src="images/headers/Our Team.png" alt="">
</section>

<div class="team py-1">
    <div class="team-member team-member-students mx-10 my-5 py-3">

        <div class="text-center pb-5">
            <h3 class="headings pb-3">FACULTY INCHARGE</h3>
          </div>
          <div class="row mx-auto">
            <div class="col-4">
                <!-- <a href="https://www.linkedin.com/in/divij-bhola-2bbb4017b"> -->
                    <div class="team-member">
                        <img class="team-member-picture" src="/images/our-team/gurdeep.jpeg" height="300" width="250" alt="">
                        <div class="mt-3">
                            <h3 class="name">Dr. Gurdeep Singh</h3>
                            <h5 class="title">Professor</h5>
                        </div>
                    </div>
                <!-- </a> -->
                
            </div>
            <div class="col-4">
                <!-- <a href=" https://www.linkedin.com/in/raj-aryan-845507180"> -->
                    <div class="team-member">
                        <img class="team-member-picture" src="/images/our-team/anahat.jpeg" height="300" width="250" alt="">
                        <div class="mt-3">
                            <h3 class="name">Mrs. Anaahat Dhindsa</h3>
                            <h5 class="title">Assistant Professor</h5>
                        </div>
                    </div>
                <!-- </a> -->
                
            </div>
        </div>


                <div class="text-center py-5">
                    <h3 class="headings py-3">STUDENT TEAM</h3>
                </div>
                <div class="row mx-auto">
                    <div class="col-4">
                        
                        <a href="https://www.linkedin.com/in/rhythm-pathania-6a0240195">
                            <div class="team-member team-member-student corner-member-right">
                                <img class="team-member-picture" src="/images/our-team/rythm.jpg" height="300" width="250" alt="">
                                <div class="card-text">
                                    <h3 class="name">Rythm </h3>
                                    <h5>VICE-PRESIDENT</h5>
                                </div>
                                <ul class="cards__list">
                                    <li><a href="https://www.facebook.com/rhythms.pathania.7"><i class="fab fa-facebook-f"></i></a></i></li>
                                    <li><a href="https://instagram.com/rhythm_pathania?igshid=12zxnnqdmqe4i"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="https://www.linkedin.com/in/rhythm-pathania-6a0240195"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </a>
                        
                    </div>
                    <div class="col-4">
                        
                        <a href="https://www.linkedin.com/in/kapish-mittal-a74008185">
                            <div class="team-member team-member-student">
                                <img class="team-member-picture" src="/images/our-team/kapish.jpg" height="300" width="250" alt="">
                                <div class="card-text">
                                    <h3 class="name">Kapish Mittal</h3>
                                    <h5>PRESIDENT</h5>
                                </div>
                                <ul class="cards__list">
                                    <li><a href="https://www.facebook.com/kapish.mittal.14203"><i class="fab fa-facebook-f"></i></a></i></li>
                                    <li><a href="https://instagram.com/em_kapish18?igshid=uididrha5pmc"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="https://www.linkedin.com/in/kapish-mittal-a74008185"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </a>
                            
                    </div>
                    <div class="col-4">
                        
                        <a href="https://www.linkedin.com/in/tanveer-singh-sidhu-b686141a9/">
                            <div class="team-member team-member-student  corner-member-right">
                                <img class="team-member-picture" src="/images/our-team/tanveer.jpg" height="300" width="250" alt="">
                                <div class="card-text">
                                    <h3 class="name">Tanveer Singh</h3>
                                    <h5>VICE-PRESIDENT</h5>
                                </div>
                                <ul class="cards__list">
                                    <!-- <li><a href=""><i class="fab fa-facebook-f"></i></a></i></li> -->
                                    <!-- <li><a href=""><i class="fab fa-instagram"></i></a></li> -->
                                    <li><a href="https://www.linkedin.com/in/tanveer-singh-sidhu-b686141a9/"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </a>
                        
                    </div>
                    
                </div>
            <!-- </div>
        </div> -->

        <!--             GRAPHICS AND TECHNICAL         -->
        
        <div class="text-center py-5">
            <h3 class="headings py-3">TECHNICAL</h3>
          </div>
          <div class="row mx-auto">

            <div class="col-4">
                
                <a href="https://www.linkedin.com/in/prerna-malik-1a998b188/">
                    <div class="team-member team-member-student">
                        <img class="team-member-picture" src="/images/our-team/prerna.jpg" height="300" width="250" alt="">
                        <div class="card-text">
                            <h3 class="name">Prerna Malik</h3>
                            <h5>Website HEAD</h5>
                        </div>
                        <ul class="cards__list">
                            <li><a href="https://www.facebook.com/prerna.malik.737"><i class="fab fa-facebook-f"></i></a></i></li>
                            <li><a href="https://www.instagram.com/prernamalik00/"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/prerna-malik-1a998b188/"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </a>
                
                
            </div>
            <div class="col-4">
                <a href="https://www.linkedin.com/in/harshit-sharma-8a74061a3">
                    <div class="team-member team-member-student">
                        <img class="team-member-picture" src="/images/our-team/Harshit.jpg" height="300" width="250" alt="">
                        <div class="card-text">
                            <h3 class="name">Harshit Sharma</h3>
                            <h5>Graphics HEAD</h5>
                        </div>
                        <ul class="cards__list">
                            <li><a href="https://www.facebook.com/profile.php?id=100006578599470"><i class="fab fa-facebook-f"></i></a></i></li>
                            <li><a href="https://instagram.com/harshitynwa"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/harshit-sharma-8a74061a3"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    
                </a>
                
            </div>
            
        </div>

        <div class="row mx-auto mt-5">
            <div class="col-4">
                
                <a href="#">
                    <div class="team-member team-member-student">
                        <img class="team-member-picture" src="/images/our-team/hitesh.jpg" height="300" width="250" alt="">
                        <div class="card-text">
                            <h3 class="name">Hitesh Chawla</h3>
                            <h5>Graphics <br> SUB-HEAD</h5>
                        </div>
                        <ul class="cards__list">
                            <li><a href=""><i class="fab fa-facebook-f"></i></a></i></li>
                            <li><a href=""><i class="fab fa-instagram"></i></a></li>
                            <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </a>
                
            </div>
        </div>

        <div class="row mx-auto mt-5">
            
            <div class="col-4">
                
                <a href="https://www.linkedin.com/in/navudhaypratapsingh">
                    <div class="team-member team-member-student">
                        <img class="team-member-picture" src="/images/our-team/navudhay.jpg" height="300" width="250" alt="">
                        <div class="card-text">
                            <h3 class="name">Navudhay</h3>
                            <h5>MEMBER</h5>
                        </div>
                        <ul class="cards__list">
                            <!-- <li><a href=""><i class="fab fa-facebook-f"></i></a></i></li> -->
                            <!-- <li><a href=""><i class="fab fa-instagram"></i></a></li> -->
                            <li><a href="https://www.linkedin.com/in/navudhaypratapsingh"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </a>
                
                
            </div>
            <div class="col-4">
                
                <a href="">
                    <div class="team-member team-member-student">
                        <img class="team-member-picture" src="/images/our-team/gaurav.jpeg" height="300" width="250" alt="">
                        <div class="card-text">
                            <h3 class="name">Gaurav Rajput</h3>
                            <h5>MEMBER</h5>
                        </div>
                        <ul class="cards__list">
                            <li><a href=""><i class="fab fa-facebook-f"></i></a></i></li>
                            <li><a href=""><i class="fab fa-instagram"></i></a></li>
                            <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </a>
                
            </div>
            <div class="col-4">
                
                <a href="https://www.linkedin.com/in/sanya-aggarwal-37bba3187">
                    <div class="team-member team-member-student">
                        <img class="team-member-picture" src="/images/our-team/sanya.jpg" height="300" width="250" alt="">
                        <div class="card-text">
                            <h3 class="name">Sanya Aggrawal</h3>
                            <h5>MEMBER</h5>
                        </div>
                        <ul class="cards__list">
                            <!-- <li><a href=""><i class="fab fa-facebook-f"></i></a></i></li> -->
                            <li><a href="https://www.instagram.com/invites/contact/?i=n2izim1yh8lq&utm_content=5v3q1qp"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/sanya-aggarwal-37bba3187"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </a>
                
                
            </div>
        </div>

        <!--             DATABASE MANAGEMENT           -->
        
        <div class="text-center py-5">
            <h3 class="headings py-3">DATABASE MANAGEMENT</h3>
          </div>
          <div class="row mx-auto">
            <div class="col-4">
                <a href="https://www.linkedin.com/in/nalin-singhal-424b311a9/">
                    <div class="team-member team-member-student">
                        <img class="team-member-picture" src="/images/our-team/nalin.jpg" height="300" width="250" alt="">
                        <div class="card-text">
                            <h3 class="name">Nalin Singhal</h3>
                            <h5>HEAD<br> Branch <br> -Coordinator</h5>
                        </div>
                        <ul class="cards__list">
                            <!-- <li><a href=""><i class="fab fa-facebook-f"></i></a></i></li> -->
                            <li><a href="https://www.instagram.com/invites/contact/?i=bjm3q4y38n7x&utm_content=3e0fryq"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/nalin-singhal-424b311a9/"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </a>
                
            </div>
            <div class="col-4">
                
                <a href="https://www.linkedin.com/in/chiraag-garg-97986919b">
                    <div class="team-member team-member-student">
                        <img class="team-member-picture" src="/images/our-team/chiraag.jpg" height="300" width="250" alt="">
                        <div class="card-text">
                            <h3 class="name">Chiraag Garg</h3>
                            <h5>SUB-HEAD</h5>
                        </div>
                        <ul class="cards__list">
                            <li><a href="https://www.facebook.com/chiraag.garg.9"><i class="fab fa-facebook-f"></i></a></i></li>
                            <li><a href="https://instagram.com/chiraaggarg?igshid=m1sihv4ptind"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/chiraag-garg-97986919b"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </a>
                
                
            </div>
            
        </div>



        <!--             EVENT MANAGEMENT            -->
        
        <div class="text-center py-5">
            <h3 class="headings py-3">EVENT MANAGEMENT</h3>
          </div>
          <div class="row mx-auto">
            <div class="col-4">
                <a href="https://www.linkedin.com/in/divij-bhola-2bbb4017b">
                    <div class="team-member team-member-student">
                        <img class="team-member-picture" src="/images/our-team/divij.jpg" height="300" width="250" alt="">
                        <div class="card-text">
                            <h3 class="name">Divij Bhola</h3>
                            <h5>HEAD</h5>
                        </div>
                        <ul class="cards__list">
                            <li><a href="https://www.facebook.com/divij.bhola"><i class="fab fa-facebook-f"></i></a></i></li>
                            <li><a href="https://www.instagram.com/p/B76Y0BDnH2X/?igshid=u2xwvj2099ug"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/divij-bhola-2bbb4017b"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </a>
                
            </div>
            <div class="col-4">
                <a href=" https://www.linkedin.com/in/raj-aryan-845507180">
                    <div class="team-member team-member-student">
                        <img class="team-member-picture" src="/images/our-team/rajaryan.jpg" height="300" width="250" alt="">
                        <div class="card-text">
                            <h3 class="name">Raj Aryan</h3>
                            <h5>SUB-HEAD</h5>
                        </div>
                        <ul class="cards__list">
                            <!-- <li><a href=""><i class="fab fa-facebook-f"></i></a></i></li> -->
                            <li><a href="https://www.instagram.com/its_rajaryan_/"><i class="fab fa-instagram"></i></a></li>
                            <li><a href=" https://www.linkedin.com/in/raj-aryan-845507180"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </a>
                
            </div>
        </div>

        
        
        <!--             CONTENT WRITING            -->
        
        <div class="text-center py-5">
            <h3 class="headings py-3">CONTENT WRITING</h3>
          </div>
          <div class="row mx-auto">
            <div class="col-4">
                <a href="https://www.linkedin.com/in/ishikagupta99">
                    <div class="team-member team-member-student">
                        <img class="team-member-picture" src="/images/our-team/ishika.jpg" height="300" width="250" alt="">
                        <div class="card-text">
                            <h3 class="name">Ishika Gupta</h3>
                            <h5>HEAD</h5>
                        </div>
                        <ul>
                            <li><a href="https://www.facebook.com/ishikagupta23"><i class="fab fa-facebook-f"></i></a></i></li>
                            <li><a href="https://instagram.com/ish.ik.a?igshid=wurq0n2g70p6"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/ishikagupta99"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </a>
                
            </div>
            <div class="col-4">
                <a href="#">
                    <div class="team-member team-member-student">
                        <img class="team-member-picture" src="/images/our-team/aastha.jpg" height="300" width="250" alt="">
                        <div class="card-text">
                            <h3 class="name">Aastha Vashishtha</h3>
                            <h5>SUB-HEAD</h5>
                        </div>
                        <ul>
                            <li><a href=""><i class="fab fa-facebook-f"></i></a></i></li>
                            <li><a href=""><i class="fab fa-instagram"></i></a></li>
                            <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </a>
                
            </div>
        </div>

        
        <!--             PUBLIC RELATIONS AND MARKETING            -->
        
        <div class="text-center py-5">
            <h3 class="headings py-3">PUBLIC RELATIONS AND MARKETING </h3>
          </div>
          <div class="row mx-auto">
            <div class="col-4">
                <a href="https://www.linkedin.com/in/sourav-sharma-833a16198">
                    <div class="team-member team-member-student">
                        <img class="team-member-picture" src="/images/our-team/sourav.jpeg" height="300" width="250" alt="">
                        <div class="card-text">
                            <h3 class="name">Sourav Sharma</h3>
                            <h5>HEAD</h5>
                        </div>
                        <ul class="cards__list">
                            <li><a href="https://www.facebook.com/srv9211"><i class="fab fa-facebook-f"></i></a></i></li>
                            <li><a href="https://instagram.com/srv9211"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/sourav-sharma-833a16198"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </a>
                
            </div>
            <div class="col-4">
                <a href="https://www.linkedin.com/in/siddharth-gupta-a751a2144/">
                    <div class="team-member team-member-student">
                        <img class="team-member-picture" src="/images/our-team/siddharth.jpg" height="300" width="250" alt="">
                        <div class="card-text">
                            <h3 class="name">Siddarth</h3>
                            <h5>SUB-HEAD</h5>
                        </div>
                        <ul class="cards__list">
                            <!-- <li><a href=""><i class="fab fa-facebook-f"></i></a></i></li> -->
                            <li><a href="https://instagram.com/siddhartha_19?igshid=1d442tvghwt87"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/siddharth-gupta-a751a2144/"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </a>
                
            </div>
        </div>

        
    </div>
</div>

<%- include("partials/footer"); -%>
