<%- include("partials/header"); -%>
<section class="shadow">
  <img class ="pagehead" src="images/headers/AM.png" alt="">
</section>

<div class="-a-meet container-fluid p-4 my-3 mx-2">
  <div class="text-center pb-4">
    <h3 class="headings py-3">Alumni Meet</h3>
  </div>
  <div class="smalltext-font text-justify mx-3 px-3">
    <p>
      The digitalized reunion that connects the Alumni family keeping in mind
      their health and wellness during these unprecedented times. STAR organized
      its first successful online reunion of Class of 2015 - ECE on 20th
      September 2020. Here, the alumni gathered online to celebrate, renew
      friendships, and even learn something new through this light-hearted
      session. These VA-Meets are comprised of a series of interactional games
      and videos that helped the pass-outs reminisce upon the memories they
      created during their time in UIET.
    </p>
  </div>
  <div class="pt-4 overflow-hidden pt-5">
    <a class="vam-cards" href="">
      <div class="row pb-5 px-5 mx-5">
        <div class="col-12">
          <div class="row main-card no-gutters shadow-sm border rounded">
            <div class="card-content col-9 p-3" style="height: 300px">
              <strong class="mb-3"
                ><h3 class="card-heading largetext-font ml-3 mt-2">
                  EEE BATCH 2012-2016
                </h3></strong
              >
              <p class="smalltext-font mt-4 mx-3">
                Presenting the third  Alumni Meet, providing the Alumnis
                with the opportunity to meet each others and relive the moments
                they once had in their college.
              </p>
              <p class="smalltext-font mb-2 mx-3">
                The Alumni of EEE Batch 2012-2016 were invited for a 
                meet
              </p>
              <div class="row">
                <div class="col-4 mx-3 text-muted">
                  <i><strong>Date: </strong> </i>
                  <br />
                  <h5>
                    <strong> <i> 11th October 2020</i></strong>
                  </h5>
                </div>
                <div class="col-6 mx-3 text-muted">
                  <i><strong>Venue: </strong> </i>
                  <br />
                  <h5>
                    <strong> <i> Zoom cloud Meeting</i></strong>
                  </h5>
                </div>
              </div>

              <div class="ml-3 row mt-3">
                <a href="#" class="btn btn-secondary disabled mr-3">Upcoming</a>
              </div>
            </div>
            <div class="col-3">
              <img
                src="/images/a-meet/vam-3.png"
                height="100%"
                width="100%"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </a>

    <a class="vam-cards" href="">
      <div class="row pb-5 px-5 mx-5">
        <div class="col-12">
          <div class="row main-card no-gutters shadow-sm border rounded">
            <div class="card-content col-9 p-3" style="height: 300px">
              <strong class="mb-3"
                ><h3 class="card-heading largetext-font ml-3 mt-2">
                  ECE BATCH 2010-2014
                </h3></strong
              >
              <p class="smalltext-font mt-4 mx-3">
                Presenting the second  Alumni Meet, providing the Alumnis
                with the opportunity to meet each others and relive the moments
                they once had in their college.
              </p>
              <p class="smalltext-font mb-2 mx-3">
                The Alumni of ECE Batch 2010-2014 were invited for a 
                meet
              </p>
              <div class="row">
                <div class="col-4 mx-3 text-muted">
                  <i><strong>Date: </strong> </i>
                  <br />
                  <h5>
                    <strong> <i> 4th October 2020</i></strong>
                  </h5>
                </div>
                <div class="col-6 mx-3 text-muted">
                  <i><strong>Venue: </strong> </i>
                  <br />
                  <h5>
                    <strong> <i> Zoom cloud Meeting</i></strong>
                  </h5>
                </div>
              </div>
              <div class="ml-3 row mt-3">
                <a href="#" class="btn btn-secondary mr-3">Watch</a>
              </div>
            </div>
            <div class="col-3">
              <img
                src="/images/a-meet/vam-2.jpeg"
                height="100%"
                width="100%"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </a>

    <a class="vam-cards" href="">
      <div class="row pb-5 px-5 mx-5">
        <div class="col-12">
          <div class="row main-card no-gutters shadow-sm border rounded">
            <div class="card-content col-9 p-3" style="height: 300px">
              <strong class="mb-3"
                ><h3 class="card-heading largetext-font ml-3 mt-2">
                  ECE BATCH 2011-2015
                </h3></strong
              >

              <p class="smalltext-font mt-4 mx-3">
                Presenting the first  Alumni Meet, providing the Alumnis
                with the opportunity to meet each others and relive the moments
                they once had in their college.
              </p>
              <p class="smalltext-font mb-2 mx-3">
                The Alumni of ECE Batch 2011-2015 were invited for a 
                meet
              </p>
              <div class="row">
                <div class="col-4 mx-3 text-muted">
                  <i><strong>Date: </strong> </i>
                  <br />
                  <h5>
                    <strong> <i> 20th September 2020</i></strong>
                  </h5>
                </div>
                <div class="col-6 mx-3 text-muted">
                  <i><strong>Venue: </strong> </i>
                  <br />
                  <h5>
                    <strong> <i> Zoom cloud Meeting</i></strong>
                  </h5>
                </div>
              </div>

              <div class="ml-3 row mt-3 mb-2">
                <a href="#" class="btn btn-secondary mr-3">Watch</a>
              </div>
            </div>
            <div class="col-3">
              <img
                src="/images/a-meet/vam-1.jpeg"
                height="100%"
                width="100%"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </a>


  </div>
</div>

<%- include("partials/footer"); -%>
