
input[type=text],input[type=email] ,select,textarea {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 40%;
  background-color: blue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #450046;
}

#contactus {
 
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.responsive {
    padding-top: 2%;
    padding-left: 2%;
  width: 50%;
  height: auto;
  position: relative;
   }
   @media only screen and (max-width: 600px)   {

      .responsive {
           position: top;
           width: 100%;
  height: auto;
      }
      
      input[type=text],input[type=email] ,select,textarea {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 70%;
  background-color: blue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #450046;
}

  }
