@font-face {
  font-family: "Trebuchet MS";
  font-style: normal;
  font-size: large;
  font-weight: normal;
  src: local("Trebuchet MS"),
    url("../../assets/fonts/Trebuchet-MS/trebuc.woff") format("woff");
}
