@font-face {
  font-family: "Nunito Sans Regular";
  src: url("../../assets/fonts/nunito/NunitoSans-Regular.ttf");
}

@font-face {
  font-family: "Nunito Sans ExtraBold";
  src: url("../assets/fonts/nunito/NunitoSans-ExtraBold.ttf");
}

@font-face {
  font-family: "Nunito Sans SemiBold";
  src: url("../assets/fonts/nunito/NunitoSans-SemiBold.ttf");
}

@font-face {
  font-family: "Nunito Sans Bold";
  src: url("./../assets/fonts/nunito/NunitoSans-Bold.ttf");
}
@font-face {
  font-family: "Nunito Sans Black";
  src: url("../assets/fonts/nunito/NunitoSans-Black.ttf");
}
