* {
    margin: 0;
    padding: 0;
  /*   border: 1px solid black; */
    flex-direction: row;
  }
  
  .footer{
    width: 100vw;
    height: 60vh;
    /* background: pink; */
    
  }
  .footer-up{
      height: 80%;
      background-color: #303331;
      width: 70%;
      display: flex;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
  }
  .linkslines {
      flex: 7;
      height: 100%;
      background: #303331;
      font-size: 25px;
      color: white;
  }
  .mapall {
      flex: 3;
      height: 100%;
      background: #303331;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .footer-down{
      height: 20%;
      width: 70%;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      background: steelblue;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .social-bar{
      width: 30%;
      height: 40%;
      
  }
  .links{
      transform: translate(8%, 90%);
      font-size: 30px;
      line-height: 1.5em;
  }
  .map{
      width: 90%;
      height: 75%;
      border: 0 solid white;
      transform: translate(-10%, -8% );

  }