.cover-carousel{
    width: 100% !important;
    height: 50vh !important;
    /* background-color: black; */
    display: none;
}

.main{
    width: 70vw !important;
}

.post{
    height: 35vh !important;
    background-color: red;
    width: 95% !important;
}

.jumbotron{
    height: 60vh !important;
}