@import "../fonts/nexa";
@import "../fonts/nunitosans";

body {
  overflow-x: hidden;
  // min-height: 100vh;
  //   font-family: Nunito Sans Regular;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: grey;
}

// Fonts
.pagehead-font {
  font-family: Nexa Bold;
  font-size: 40px;
}

.largetext-font {
  font-family: Nexa bold;
  font-size: 20px;
}
.smalltext-font {
  font-size: 16px;
  font-family: Nunito Sans Regular;
}

//    SPACING CLASSES

.separator {
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mx-10 {
  margin-left: 10rem;
  margin-right: 10rem;
}
.mx-6 {
  margin-left: 6rem;
  margin-right: 6rem;
}
.my-7 {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

//      HEADINGS

.headings {
  text-align: center;
  color: $darkColor;
  font-family: Nexa bold;

  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}

.headings:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: 0;
  left: 25%;
  border-bottom: 4px solid $primaryColor;
}

.red-btn {
  background: $primaryColor;
  color: white;
}