.top-header {
  background: rgb(209, 205, 205);
  display: block;
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.animate-pop-in {
  animation: pop-in 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
}

//page header

.pagehead {
  width: 100%;
}

//        NAVBAR

#navu {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

.scroll {
  background-color: black;
  color: white;
  .nav-link,
  .navbar-brand {
    color: white;
  }
}

nav {
  transition: all 0.4s;

  background-color: transparent;
  .nav-link,
  .navbar-brand {
    color: white;
  }
  .nav-item:focus .sub-menu,
  .nav-item:focus-within .sub-menu,
  .nav-item:hover .sub-menu {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    background-color: #000000b3;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
  }
  .nav-item:hover {
    background-color: #000000b3;
  }

  .sub-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    list-style-type: none;
    padding: 0;
    margin: 0;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s,
      z-index 0s linear 0.01s;

    a {
      color: white;
      display: block;
      padding: 0.5em 1em;
      text-decoration: none;
    }
  }
}
