//                MAIN CAROUSEL

#mainCarousel {
  .carousel-inner {
    background-color: #00000070;

    img {
      // height: auto;
      width: 100%;
    }
  }
}

//          UPCOMING EVENTS
#upcoming-events {
  background: $bgColor;
  &-carousel {
    height: 300px;
    width: 500px;
    background: $bgColor;

    &-inner {
      img {
        height: 300px;
        width: 400px;
      }
    }
  }

  .carousel-indicators-numbers {
    li {
      text-indent: 0;
      text-align: center;
      width: 30px;
      height: 30px;
      border: none;
      border-radius: 100%;
      line-height: 30px;
      color: #fff;
      background-color: #999;
      transition: all 0.25s ease;
      &.active,
      &:hover {
        width: 30px;
        height: 30px;
        background-color: #000000;
      }
    }
  }
}

.headlines {
  a:hover {
    color: grey;
  }
}

//      GET INVOLVED

.get-involved {
  &-card {
    padding: 5.7vh;
  }

  &-card {
    a {
      color: $darkColor;
    }
    .card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.5s;
      .card-front,
      .card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
      .card-back {
        opacity: 0;
      }
    }

    .separator {
      min-height: 200px;
      width: 200px;
      border-radius: 50%;
      background-color: $bgColor;
      transition: transform 0.4s;
    }
    .separator:hover {
      transform: scale(1.1);
      transition: transform 0.2s;
      background-color: $bgColorPrimary;
      color: white;
      .card-front {
        opacity: 0;
      }
      .card-back {
        opacity: 1;
      }
    }
  }
}

//            WHAT WE DO

.whatwedo {
  background: $bgColor;
  padding: 40px;

  .separator {
    min-height: 38.8vh;
  }

  .whatwedo-card {
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    background-color: transparent;
  }
  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    .card-front,
    .card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    .card-back {
      transform: rotateY(180deg);
    }
  }

  .whatwedo-card:hover .card-inner {
    transform: rotateY(180deg);
  }
}

.youtube {
  background-image: url("images/ybg.jpg");
  background-color: black;
  padding: 40px;
}

//          gallery

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  background: #000000;
}

.box {
  position: relative;
  width: 300px;
  height: 150px;
  transform-style: preserve-3d;
  animation: animate 30s linear infinite;
  // animation-play-state: running;

  .gallery-pics {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 250px;
      height: 160px;
      object-fit: cover;
      -webkit-box-reflect: below 8px -webkit-gradient(linear, right top, right
            bottom, from(transparent), color-stop(40%, transparent), to(rgba(255, 255, 255, 0.1)));
    }
    
  }
}

@keyframes animate {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}
